:root {
	--cafe: #8d4a32;
	--azul: #0f6973;
	--rosado: #a71737;
	--negro: #010101;
	--blanco-opaco: #c6c6c6;
  }
form{
    width: 100%;
}

input,select{
    width: 70%;
}
::placeholder, select,textarea {
    font-size: 1.6rem;
}
input[type=submit]{
    width: 70%;
    font-size: 1.6rem;
}
.imagen div{
    width: 30px;
    height: 30px;
    top: calc(100% - 35px);
    left: calc(100% - 35px);
}