:root {
	--cafe: #8d4a32;
	--azul: #0f6973;
	--rosado: #a71737;
	--negro: #010101;
	--blanco-opaco: #c6c6c6;
  }
html{
    display: flex;
    align-items: center;
    flex-direction: column
}
body{
    width: 70%;
}
/*menu de navegación*/
.header_navegacion{
    width: 80%;
    height: 9vh;
}
.header_navegacion ul{
    width: 60%;
}
.header_navegacion h1{
    font-size: 2.3rem;
}
/*estilos iconos de navegacion*/
.header_icon_uno,.header_icon_dos {
    width:30px;
    height: 30px;
}
.header_icon_tres {
    width: 32px;
    height: 32px;
}
.header_icon_cuatro {
    width: 35px;
    height: 35px;
}