<head>
    <link rel="stylesheet" type="text/css" href="./css/colores.css">

  <title>CONTACTO</title>
</head>
</nav>
</div>

</header>


<body>
    <div class="container">
			<form role="form" action="/guardarsugerencia">
				<div class="form-group">
					<label for="email">Nombre (opcional):</label>
					<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Name">
					
				<div class="form-group">
					<label for="message">Sugerencia:</label>
					<textarea class="form-control" id="sugerencia" name="sugerencia" required placeholder="Mensaje"></textarea>
				</div>
				<button type="submit" class="botonglobal">Enviar</button>
			</form>
		</div>

       
</body>
