<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css" href="./principal/css/styles.css">
    <link rel="stylesheet" type="text/css" href="./principal/css/agregar.css">
    <link rel="stylesheet" href="./principal/css/administrador.css">
	<link rel="stylesheet" href="./principal/css/bootstrap.min.css">
    <link rel="stylesheet" href="./principal/css/sweetalert2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>UBATÉ, ¡¡¡ DESTINO DE TRADICIONES !!!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./usuarios/crearp/CSS/movile.css">
    <link rel="stylesheet" href="./usuarios/crearA/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./usuarios/crearA/CSS/web.css" media="screen and (min-width:1000px)">
</head>

<body class="body" onload="cargar()">
    <div class=" row contenido col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <h2>ADMINISTRADOR DE NOTICIAS</h2>
    <div>En este espacio podras agregar, editar, eliminar noticias relacionadas con el turismo en la Villa de San Diego de Ubaté.</div>

    <form action="/new-noticia" method="POST" enctype="multipart/form-data">
      

        <label class="" >TITULAR DE LA NOTICIA</label>
    
      <input id="titular" name="titular" type="text" placeholder="Titular de la Noticia" >
   
  
  <section class="row justify-content-center noticias">
	<div  class="espaciotext1">
    <div>
	
    <label class=""  >RESUMEN</label>
  </div>
    
      <textarea id="resumen" name="resumen" spellcheck="true" rows="10" cols="25" tabindex="9" placeholder="Resumen de la noticia"></textarea>
	  </div>
	   <div  class="espaciotext2">
		<div>
    <label  >NOTICIA COMPLETA</label>
  </div>
   
      <textarea id="completa" name="completa" spellcheck="true" rows="10" cols="40" tabindex="4" placeholder="Noticia Completa"></textarea>
   
  </div>
    </section>
        <div class="imagen">
            <div class="fotos"></div>
            <input type="file" class="img_f" name="vehiculo" value="Guardar Cambios"
                accept="image/png, .jpeg, .jpg, image/mp4" required>
        </div>
        <input type="submit" value="AGREGAR" class="subir">
    </form>
    </div>
    <script src="./usuarios/crearP/JS/index2.js"></script>
    


</body>

</html>