<head>
  <link rel="stylesheet" type="text/css" href="./css/agregar.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/crear_noticiam.css">
  <link rel="stylesheet" href="./css/crear_noticiat.css" media="screen and (min-width:600px)">
  <link rel="stylesheet" href="./css/crear_noticiaw.css" media="screen and (min-width:1000px)">
    <link rel="stylesheet" type="text/css" href="./css/colores.css">

</head>
<div class="erroresinternos">
  <p align="">
  <h5>{{mensajeError}}</h5>
  </p>
</div>

<body class="body gridContainer ">
  <div class="">
    <button class="ver btnG crear"><a class="ver " href="/editarNoticias"> EDITAR-ELIMINAR NOTICIAS</a></button>

    <h2><b> CREAR NOTICIAS</b></h2>
    <br>
    <h2> REGISTRAR</h2>
    <div>
      <form action="/new-noticia" method="POST" enctype="multipart/form-data" class="formulario" id="formulario">
        <div>
          <label class="">TITULAR DE LA NOTICIA</label>

          <input required id="titular" name="titular" type="text" placeholder="Titular de la Noticia" maxlength="50"
            class="espaciotext1" title="el nombre debe tener máximo 50 caracteres">


        </div>



        <section class="row justify-content-center noticias">
          <div class="espaciotext2">
            <div>

              <label class="">RESUMEN</label>
            </div>

            <textarea id="resumen" required name="resumen" spellcheck="true" rows="10" cols="25" tabindex="9"
              placeholder="Resumen de la noticia"></textarea>
          </div>
          <div class="espaciotext2">
            <div>
              <label>NOTICIA COMPLETA</label>
            </div>

            <textarea id="completa" name="completa" required spellcheck="true" rows="10" cols="40" tabindex="4"
              placeholder="Noticia Completa"></textarea>

          </div>
          
            <label>POR FAVOR INSERTAR IMAGEN *</label>
          
          <div class="imagen">
            <div class="fotos"></div>
            <img id="imagenicono" class="imagenicono" src="/img/imagenicono.png" alt="Imagen" />
            <input required id="archivo" type="file" name="input0" class="foto_publicacion f1"
              accept="image/.png, .jpeg, .jpg" style="display:none">
            <span id="nombre-archivo">SELECCIONA UNA IMAGEN</span>
          </div>
        </section>
        </section>


        <br>
        <input type="submit" value="AGREGAR" id="btn-task-form" class="subir btn btn-primary">
        <script>
          const imagen = document.getElementById('imagenicono');
          const archivo = document.getElementById('archivo');
          const nombreArchivo = document.getElementById('nombre-archivo');

          imagen.addEventListener('click', () => {
            archivo.click();
          });

          archivo.addEventListener('change', () => {
            nombreArchivo.textContent = archivo.files[0].name;
            const file = archivo.files[0];
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => {
              imagen.src = reader.result;
            };
          });

        </script>
      </form>
      
<div id="errorMessage"></div>

<script>
  // Escucha el evento submit del formulario
  document.getElementById('myForm').addEventListener('submit', async (event) => {
    event.preventDefault(); // Evita el envío del formulario por defecto

    // Envía la solicitud al servidor utilizando Fetch API
    const formData = new FormData(document.getElementById('myForm'));
    const response = await fetch('/new-noticia', {
      method: 'POST',
      body: formData
    });

    if (response.ok) {
      // La solicitud se procesó correctamente
      const data = await response.json();
      // Continuar con el manejo de la respuesta exitosa, si es necesario
    } else {
      // La solicitud produjo un error
      const error = await response.json();
      document.getElementById('errorMessage').innerText = error.error;
    }
  });
</script>
    </div>





</body>

</html>