<head>
    <link rel="stylesheet" type="text/css" href="./principal/css/agregar.css">
	<link rel="stylesheet" href="./principal/css/bootstrap.min.css">
    <link rel="stylesheet" href="./usuarios/crearP/CSS/movile.css">
    <link rel="stylesheet" href="./usuarios/crearP/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./usuarios/crearP/CSS/web.css" media="screen and (min-width:1000px)">
</head>
<body class="body gridContainer " >
<div class="">
    <h2>ATRACTIVOS REGISTRADOS</h2>
    <div class=" eContenido " id="contenedor"></div>
    <br>
    <h2> REGISTRAR</h2>
    <div>
    <form action="/new_publication" method="POST" enctype="multipart/form-data" class="formulario" id="formulario">
        <div class="espaciotext1">
    <label class="" >NOMBRE DEL ATRACTIVO</label>
    
      <input id="nombre" name="nombre" type="text" placeholder="Nombre" >
                            <label>Ubicación geográfica:</label>
                        <tr>
                            <td>
                               <h6> <div>Recuerda agregarlo en <a href="https://www.google.com/maps/d/ " target="_blank">"Google
                                        MyMaps" <br> </a>en la ruta apropiada </div></h6>
                            </td>
                        </tr>
   
  </div>
                            <h5>Actividades que se puden realizar:</h5>
                        <p>
                            <td>
                               
                               <h6> <tr><input type="checkbox" name="a1" id="a1"> Recorrer y observar
                                    <input type="checkbox" name="a2" id=""> Iglesia
                                    <input type="checkbox" name="a3" id="a3"> Ideal para fotografías
                                    <input type="checkbox" name="a4" id="a4"> Descanso al aire libre
                                    <input type="checkbox" name="a5" id="a5"> Gastronomía típica
                                    <input type="checkbox" name="a6" id="a6"> Ideal para ciclismo
                                    <input type="checkbox" name="a7" id="a7"> Aviturismo
                                    <input type="checkbox" name="a8" id="a8"> Deportes de montaña
                                    <input type="checkbox" name="a9" id="a9"> Paisaje de montaña
                                    <input type="checkbox" name="a10" id="a10"> Sitio Histórico
                                </tr></h6>
                            </td>
                        </p>
  <section class="row justify-content-center noticias">
	<div  class="espaciotext2">
    <div>
	
    <h5><label class=""  >Descripción</label></h5>
  </div>
    
      <h6><textarea id="descripcion" name="descripcion" spellcheck="true" rows="10" cols="90" tabindex="" placeholder="Descripción"></textarea></h6>
	  </div>
      <div  class="espaciotext2">
    <div>
	
    <h5><label class=""  >Street View</label></h5>
  </div>
    
     <h6> <textarea id="street" class="st"  name="street" spellcheck="true" rows="10" cols="90" tabindex="" placeholder="Link de Street View"></textarea></h6>
	  </div>
	   <div  class="espaciotext2">
		<div>
    <label  >RUTA A LA QUE PERTENECE</label>
    <select id="ruta" name="ruta" >
                                <option value="0">Seleccione</option>
                                <option value="Cultura e Historia">Cultura e Historia</option>
                                <option value="Gastronómico">Gastronómico</option>
                                <option value="Religioso">Religioso</option>
                                <option value="Naturaleza">Naturaleza</option>
                                <option value="Deportivo">Deportivo</option>
                            </select>
  </div>
<div class="file">
                <input type="file" name="input0" class="foto_publicacion f1" accept="image/png, .jpeg, .jpg" required>
                </div>
   
  </div>
  
    </section>

            <br>
                <input type="submit" value="AGREGAR"  id="btn-task-form" class="subir btn btn-primary">
    </form>
    </div>
    
    
    <script src="/js/editar.js" type="module"></script>
     <script src="./usuarios/crearP/JS/index.js"></script>
   

</body>

</html>