<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/footer.css">
    <title>Turismo Ubaté</title>
</head>

<body>
    <div class="fondo">
        <div class="sol"></div>
    </div>
    <div class="container">
        <div class="left-section">
            <div class="inner-content">
                <h1 class="heading">Oops!</h1>
                <p class="subheading">El Contenido que solicitas no pudo ser encontrado</p>
                <p><a href="/">Volver a la página principal</a></p>

            </div>
        </div>
        <div class="right-section">
            <img class="svgimg" src="img/bmu.png" alt="">
        </div>
    </div>
    <div></div>
    <div></div>

</body>
<style>
    .fondo {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #A3D6DB;
        width: 100%;
        height: 100%;
        animation-name: fondo;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        overflow: hidden;
    }

    .sol {
        background: #FFA500;
        width: 10%;
        padding-bottom: 10%;
        position: absolute;
        left: -110px;
        top: 30%;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 10px rgba(255, 140, 0, 5);
        animation-name: sol;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }



    @keyframes sol {
        0% {
            left: -100px;
            top: 30%;

        }

        50% {
            left: 50%;
            top: 5%;
            background: #FF4500;

        }

        100% {
            left: calc(100% + 10px);
            top: 30%;
            background: #bee2e6;
            box-shadow: 0px 0px 0px 10px rgba(73, 92, 95, 5);

        }
    }

    /*ANIMACION DEL FONDO*/
    @keyframes fondo {
        50% {
            background: #A3D6DB;


        }

        100% {
            background: #202324;

        }
    }




    @import url("https://fonts.googleapis.com/css?family=Fira+Sans");

    /*Variables*/
    .left-section .inner-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    p {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    a {
        color: #0077cc;
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: "Fira Sans", sans-serif;
        color: #f5f6fa;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#0C0E10, #446182);
    }

    .background .ground {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25vh;
        background: #0C0E10;
    }

    @media (max-width: 770px) {
        .background .ground {
            height: 0vh;
        }
    }

    .container {
        position: relative;
        margin: 0 auto;
        width: 85%;
        height: 100vh;
        padding-bottom: 25vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    @media (max-width: 770px) {
        .container {
            flex-direction: column;
            padding-bottom: 0vh;
        }
    }

    .left-section,
    .right-section {
        position: relative;
    }

    .left-section {
        width: 40%;
    }

    @media (max-width: 770px) {
        .left-section {
            width: 100%;
            height: 40%;
            position: absolute;
            top: 0;
        }
    }

    @media (max-width: 770px) {
        .left-section .inner-content {
            position: relative;
            padding: 1rem 0;
            justify-content: center;
        }
    }

    .heading {
        text-align: center;
        font-size: 9em;
        line-height: 1.3em;
        margin: 2rem 0 0.5rem 0;
        padding: 0;
        text-shadow: 0 0 1rem #fefefe;
    }

    @media (max-width: 770px) {
        .heading {
            font-size: 7em;
            line-height: 1.15;
            margin: 0;
        }
    }

    .subheading {
        text-align: center;
        max-width: 480px;
        font-size: 1.5em;
        line-height: 1.15em;
        padding: 0 1rem;
        margin: 0 auto;
    }

    @media (max-width: 770px) {
        .subheading {
            font-size: 1.3em;
            line-height: 1.15;
            max-width: 100%;
        }
    }

    .right-section {
        width: 50%;
    }

    @media (max-width: 770px) {
        .right-section {
            width: 100%;
            height: 60%;
            position: absolute;
            bottom: 0;
        }
    }

    .svgimg {
        position: absolute;
        bottom: 0;
        padding-top: 10vh;
        padding-left: 1vh;
        max-width: 100%;
        max-height: 100%;
    }

    @media (max-width: 770px) {
        .svgimg {
            padding: 0;
        }
    }

    .svgimg .bench-legs {
        fill: #0C0E10;
    }

    .svgimg .top-bench,
    .svgimg .bottom-bench {
        stroke: #0C0E10;
        stroke-width: 1px;
        fill: #5B3E2B;
    }

    .svgimg .bottom-bench path:nth-child(1) {
        fill: #432d20;
    }

    .svgimg .lamp-details {
        fill: #202425;
    }

    .svgimg .lamp-accent {
        fill: #2c3133;
    }

    .svgimg .lamp-bottom {
        fill: linear-gradient(#202425, #0C0E10);
    }

    .svgimg .lamp-light {
        fill: #EFEFEF;
    }

    @keyframes glow {
        0% {
            text-shadow: 0 0 1rem #fefefe;
        }

        50% {
            text-shadow: 0 0 1.85rem #ededed;
        }

        100% {
            text-shadow: 0 0 1rem #fefefe;
        }
    }
</style>
<footer id="contactanos">
     
    <div class="footer-content">
        
        <img class="footerImg" src="img/bmu.png" alt=""><div class="footer-column">
            <h4 class="text-uppercase ">TURISMO</h4>
            <article>
                <ul>
                    <li><a href="#rutas" class="footer-route">Rutas</a></li>
                    <li><a href="/lista" class="footer-route">Atractivos</a></li>
                    <li><a href="#noticias" class="footer-route">Noticias</a></li>
                    <li><a href="/tipos" class="footer-route">Tipos De Turismo</a></li>
                    <li><a href="#eventos" class="footer-route">Eventos</a></li>
                </ul>
            </article>

        </div><div class="footer-column">
            <ul>
                <li> <a href="https://www.pitscolombia.com.co/es/pits/ubate-pit-parque-principal" target="_blank">Punto
                        De Información Turística </a></li>
                <li><a href="http://www.ubate-cundinamarca.gov.co/">Página De La Alcaldía Municipal </a></li>
                <li><a href="/contacto" target="_blank">CONTÁCTANOS</a></li>
            </ul>
        </div>
        
        <div class="footer-row">
            <p class="lead me-auto">
            </p><h4> VILLA DE SAN DIEGO DE UBATÉ </h4>
            <p></p>
        </div><div class="footer-column">
            <div class="botones-redes">
                <ul class="display-flex">
                    <li class="d-f-social">
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                            <svg class="svg-inline--fa fa-instagram fa-2xl" style="color: #4f4f4f;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg><!-- <i class="fa-brands fa-instagram fa-2xl" style="color: #4f4f4f;"></i> Font Awesome fontawesome.com -->
                        </a>
                    </li>

                    <li class="d-f-social">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                            <svg class="svg-inline--fa fa-facebook fa-2xl" style="color: #696969;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.8 90.69 226.4 209.3 245V327.7h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.3 482.4 504 379.8 504 256z"></path></svg><!-- <i class="fa-brands fa-facebook fa-2xl" style="color: #696969;"></i> Font Awesome fontawesome.com -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</footer>

</html>