<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1245d29a02.js" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="./css/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./css/movile.css">
    <link rel="stylesheet" href="./css/cards.css">
    <link rel="stylesheet" href="./css/web.css" media="screen and (min-width:1000px)">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/footer.css">
    <link rel="stylesheet" type="text/css" href="./css/iniciar.css">
    <link rel="stylesheet" type="text/css" href="./css/indexAtractivos.css">
    <link rel="icon" type="image/png" href="./img/basilica.jpg" sizes="100x100">
    <title>UBATÉ, ¡¡¡ DESTINO DE TRADICIONES !!!</title>

<link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>

</head>

<body id="page-top">
    <div class="errores">
        <p align="">
        {{!-- <h5>{{mensajeError}}</h5> --}}
        </p>
    </div>
    <header x-data="{ open: false }" class="header" id="page-top">
        <!-- Logo -->
        <div class="burguer">
            <button class="header__button-nav--open" x-on:click="open = true">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-m" width="20"
                    height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 20v-16l6 14l6 -14v16"></path>
                </svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-e" width="20"
                    height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17 4h-10v16h10"></path>
                    <path d="M7 12l8 0"></path>
                </svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-n" width="20"
                    height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 20v-16l10 16v-16"></path>
                </svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-u" width="20"
                    height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 4v11a5 5 0 0 0 5 5h2a5 5 0 0 0 5 -5v-11"></path>
                </svg>

            </button>

            <nav class="navPrin text-uppercase frente " x-bind:class="open ? 'nav--show' : ''">
                <ul class="nav__ul menuAdmin ">
                    <li class="inicio-boton"><a class="btn-sideBar-SubMenu " x-on:click="open = false"
                            href="./#page-top"><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                            <img src="/img/marca.png" class="marquilla" alt=""><i
                                class="zmdi zmdi-caret-down pull-right"></i>
                        </a></li>

                    <li class="inicio-boton">
                    <li class="inicio-boton"><a class="btn-sideBar-SubMenu " x-on:click="open = false"
                            href="./#page-top"><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                            <h6 class="t-white">INICIO</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                        </a></li>
                    </li>
                    <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="#rutas"><i
                                class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                            <h6 class="t-white">RUTAS</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                        </a></li>
                    <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="/lista"><i
                                class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                            <h6 class="t-white">ATRACTIVOS</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                        </a></li>
                    <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="./#noticias"><i
                                class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                            <h6 class="t-white">NOTICIAS</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                        </a></li>
                    <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="./tipos"><i
                                class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                            <h6 class="t-white">TIPOS DE TURISMO</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                        </a></li>
                    <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="./#contactanos"><i
                                class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                            <h6 class="t-white">CONTACTANOS!!!</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                        </a></li>
                    <li class=" perfil-boton  modal_IS_abrir  " x-on:click="open = false"><a class="  px-lg-4 "><i
                                class="zmdi zmdi-shield-security zmdi-hc-fw"></i><svg xmlns="http://www.w3.org/2000/svg"
                                width="46" height="46" color="white" fill="currentColor" class="" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
                                </path>
                            </svg><i class="zmdi zmdi-caret-down pull-right"></i></a></li>
                </ul>
                <div class="nav__button" x-on:click="open = false">
                    <button class="header__button-nav--close">Cerrar</button>
                </div>
            </nav>
            <!--header-->
        </div>



<div class="carousel" id="carouse">
<div class="banner " id="carousel">
  <div class="slide" style="background-image: url('/img/banner1.jpg');" data-name="DIA UBATENSE"></div>
  <div class="slide" style="background-image: url('/img/banner2.jpg');" data-name="BASILICA MENOR"></div>
  <div class="slide" style="background-image: url('/img/banner3.JPG');" data-name="BAUTISTERIO DE LA BASILICA MENOR"></div>
  <div class="slide" style="background-image: url('/img/banner4.JPG');" data-name="INTERIOR BASILICA MENOR"></div>
  <div class="slide" style="background-image: url('/img/banner5.jpg');" data-name="SANTA BARBARA"></div>
  <div class="slide" style="background-image: url('/img/banner6.JPG');" data-name="AMANECER UBATENSE"></div>
</div>

<div id="image-name"></div>

<script>
window.addEventListener('load', function() {
  var carousel = document.getElementById('carousel');
  var imageName = document.getElementById('image-name');
  var slides = carousel.getElementsByClassName('slide');
  var currentSlide = 0;

  function showImageName() {
    var currentName = slides[currentSlide].getAttribute('data-name');
    imageName.innerText = currentName;
  }

  function nextSlide() {
    slides[currentSlide].style.opacity = 0;
    currentSlide = (currentSlide + 1) % slides.length;
    slides[currentSlide].style.opacity = 1;
    showImageName();
  }

  // Show initial slide
  slides[currentSlide].style.opacity = 1;
  showImageName();

  // Switch to next slide every 3 seconds
  setInterval(nextSlide, 3000);
});
</script>
</div>
        <br>
    </header>
    {{!-- FIN DE MULTIMEDIA --}} <br>
    <div class="page-section portfolio atractivos">
        <p>¡Bienvenido a nuestra página de turismo de Ubate! aquí encontrarás toda la información que necesitas para
            conocer los atractivos y características que tiene nuestro municipio para ofrecerte como visitante. Ubaté es
            una ciudad con una rica historia y cultura, y está rodeada de paisajes naturales impresionantes. Además,
            cuenta con una amplia variedad eventos culturales que muestran la historia y tradiciones de la ciudad. Para
            aquellos que disfrutan de actividades al aire libre, ofrece una amplia variedad de parques, hacer
            senderismo, ciclismo o acampar, siempre rodeado de bellos paisajes. Estamos seguros de que tu visita a Ubaté
            será una experiencia inolvidable, y esperamos poder ayudarte a planificar tu viaje y descubrir todo lo que
            esta hermosa municipio tiene para ofrecer. ¡Bienvenido a Ubaté!
        </p>
    </div>

    {{!-- INICIO DE RUTAS --}}
    <br>
    <div class="linea"></div>
    <br>
   <section class="page-section portfolio rutas" id="rutas">
        <div class="container grid">

            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">RUTAS</h2>

            <div class="rutaOrden  ">

                <div class="pimg col-sm-2 col-md-2 col-lg-2  col-2 px-0"> <a href="/ruta1">
                        <div class="pimg-content pimg-content1  mx-0" data-bs-toggle="modal" data-bs-target="#ruta1">
                            <img src="/img/PU.png" />
                        </div>
                    </a>
                </div>

                <div class="pimg col-sm-2 col-md-2 col-lg-2  col-2 px-0"><a href="/ruta2">
                        <div class="pimg-content pimg-content2  mx-0" data-bs-toggle="modal" data-bs-target="#ruta2">
                            <img src="/img/PB.png"  />
                        </div>
                    </a>
                </div>

                <div class="pimg col-sm-2 col-md-2 col-lg-2  col-2 px-0 "><a href="/ruta3">
                        <div class="pimg-content pimg-content3  mx-0" data-bs-toggle="modal" data-bs-target="#ruta3">
                            <img src="/img/PA.png"  />
                        </div>
                    </a>
                </div>

                <div class="pimg col-sm-2 col-md-2 col-lg-2  col-2 px-0"><a href="/ruta4">
                        <div class="pimg-content pimg-content4  mx-0" data-bs-toggle="modal" data-bs-target="#ruta4">
                            <img src="/img/PT.png"  />
                        </div>
                    </a>
                </div>

                <div class="pimg col-sm-2 col-md-2 col-lg-2  col-2 px-0">
                    <a href="/ruta5">
                        <div class="pimg-content pimg-content5  mx-0" data-bs-toggle="modal" data-bs-target="#ruta5">
                            <img src="..//img/PE.png"  />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {{!-- FIN DE RUTAS --}}
    {{!-- INICIO DE ATRACTIVOS --}}
    <br>
    <div class="linea"></div>
    <br><br>
    <section class="page-section portfolio atractivos" id="atractivos">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-color: black ;">
            ATRACTIVOS TURÍSTICOS</h2>

        <div class="container-flud flex-wrap d-flex align-content-around text-center ">

            <br>
            {{!-- ACA INICIA EL BUCLE PARA LOS ATRACTIVOS --}}

            <div class="row justify-content-center " id="formulario-container">

            </div>

            {{!-- ACA FINALIZA EL BUCLE PARA LOS ATRACTIVOS --}}

        </div>
    </section>
    {{!-- FIN DE ATRACTIVOS --}}

    <br><br>
    <div class="linea"></div>

    {{!-- INICIO DE NOTICIAS --}}
    <section class="page-section bg-cont text-white page-section portfolio scroll-latral noticias" id="noticias">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">NOTICIAS</h2><br>
        <div class="noticias-scroll portfolio ">

            <div class="  portfolio espacio-noticias  ">
                <section class=" potfolio " id="espacio-noticias"></section>
                <br><br>
            </div>
            <div class="linea"></div>
            <br><br>
            <h2 id="eventos" class="page-section-heading text-center text-uppercase text-secondary mb-0">EVENTOS</h2><br>

            <div class="  ">
                {{!-- <iframe class="calendario"
                    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FBogota&showPrint=0&showCalendars=0&showTz=0&src=d2VidHVyaXNtb3ViYXRlQGdtYWlsLmNvbQ&color=%23039BE5"
                    style="border:solid 1px #777" style="border:solid 1px #777" frameborder="0" scrolling="no"></iframe>
                --}}
                <iframe class="calendario"
                    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%234e95e6&ctz=America%2FBogota&mode=MONTH&showTitle=0&showNav=0&showPrint=0&showTabs=&showCalendars=0&showTz=0&src=d2VidHVyaXNtb3ViYXRlQGdtYWlsLmNvbQ&color=%23039BE5"
                    style="border:solid 2px rgb(217, 194, 144)" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </section>
    <br>
    <div class="linea"></div>


    <section class="modal_container_IS ">
        <section class="modal_IS modal_cerrado_IS align-content-center">
            <div class="modal_ContendorC"><span class="cerrar_modal_IS">CANCELAR</span></div>
            <br>
            <div class="modal_Cuerpo">
                <form class="modal_formulario_IS modal_formulario" id="login-form" action="/login-email" method="POST">
                    <h5>CORREO</h5>
                    <input type="email" name="email" id="email" placeholder="Correo Electronico" required>
                    <input type="email" name="emailb" id="emailb" placeholder="Correo Electronico" style="display:none">
                    <h5>CONTRASEÑA</h5>
                    <input type="password" name="password" id="password" placeholder="Contraseña" minlength="7"
                        required>

                    <button id="showPassword" style="background-color: rgb(255, 170, 0); border: #ff9900;"
                        type="button">Mostrar</button>
                    <br>
                    <button type="submit" class="ingresar ">Ingresar</button>

                    <script>
                        const passwordInput = document.getElementById("password");
                        const showPasswordButton = document.getElementById("showPassword");

                        showPasswordButton.addEventListener("click", () => {
                            if (passwordInput.type === "password") {
                                passwordInput.type = "text";
                                showPasswordButton.textContent = "Ocultar";
                            } else {
                                passwordInput.type = "password";
                                showPasswordButton.textContent = "Mostrar";
                            }
                        });
                    </script>
                </form>

            </div>
        </section>
    </section>

    <form id="modal" class="modalAtractivos ">

        <!-- modalAtractivos content -->
        <div class="caja">
            <span class="close">&#88;</span>
            <div class="modalAtractivos-header">
                <b><output id="nombre" style="border: none;"></output></b>
            </div>
            <div class="modalAtractivos-body">

                <output id="ruta" style="border: none;"></output>
            </div>
            <div class="modalAtractivos-footer">
                <output id="updatedAt" style="border: none;"></output>
            </div>
            <div class=" imagen_modal"><img id="iframe" src="" frameborder="0" style="width:100%" /></div>
            <output id="descripcion" style="border: none;"></output>

            <button class="botonglobal"><a href="/lista"> Ver Más</a></button>

        </div>


    </form>



    <div class="col-md-6" id="tasks-container"></div>
    <div class="col-md-6" id="modal"> <a href="" id="nombre"></a></div>
    </section>
    <script src="/js/inicio_sesion.js"></script>

    <script src="/js/index.js"></script>
    <script src="/js/principal.js" type="module"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
    <script src="./js/firebaseAuth.js"></script>
</body>
<br><br>

<footer id="contactanos">
     
    <div class="footer-content">
        
        <img class="footerImg" src="img/bmu.png" alt=""><div class="footer-column">
            <h4 class="text-uppercase ">TURISMO</h4>
            <article>
                <ul>
                    <li><a href="#rutas" class="footer-route">Rutas</a></li>
                    <li><a href="/lista" class="footer-route">Atractivos</a></li>
                    <li><a href="#noticias" class="footer-route">Noticias</a></li>
                    <li><a href="/tipos" class="footer-route">Tipos De Turismo</a></li>
                    <li><a href="#eventos" class="footer-route">Eventos</a></li>
                </ul>
            </article>

        </div><div class="footer-column">
            <ul>
                <li> <a href="https://www.pitscolombia.com.co/es/pits/ubate-pit-parque-principal" target="_blank">Punto
                        De Información Turística </a></li>
                <li><a href="http://www.ubate-cundinamarca.gov.co/">Página De La Alcaldía Municipal </a></li>
                <li><a href="/contacto" target="_blank">CONTÁCTANOS</a></li>
            </ul>
        </div>
        
        <div class="footer-row">
            <p class="lead me-auto">
            </p><h4> VILLA DE SAN DIEGO DE UBATÉ </h4>
            <p></p>
        </div><div class="footer-column">
            <div class="botones-redes">
                <ul class="display-flex">
                    <li class="d-f-social">
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                            <svg class="svg-inline--fa fa-instagram fa-2xl" style="color: #4f4f4f;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg><!-- <i class="fa-brands fa-instagram fa-2xl" style="color: #4f4f4f;"></i> Font Awesome fontawesome.com -->
                        </a>
                    </li>

                    <li class="d-f-social">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                            <svg class="svg-inline--fa fa-facebook fa-2xl" style="color: #696969;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.8 90.69 226.4 209.3 245V327.7h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.3 482.4 504 379.8 504 256z"></path></svg><!-- <i class="fa-brands fa-facebook fa-2xl" style="color: #696969;"></i> Font Awesome fontawesome.com -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</footer>

</html>