

<body>
  <div class="carousel_extra" id="carouse">
    <div class="banner" id="carousel">
      <div class="slide_extra">
        <p>Has excedido la cantidad máxima de intentos</p>
        <p>Intenta de nuevo en <span id="limiter-minutes"></span> minutos</p>
      </div>
    </div>

    <div id="image-name"></div>
  </div>

  <script>
    // Obtener el elemento del contador de minutos
   
  </script>
</body>