
    <section >
                <section class=" bg-img mb-2 inf" id="mapa1">
        <h3 class="-heading text-center text-uppercase text-secondary mb-2">MAPA TURÍSTICO DEL MUNICIPIO DE
            UBATÉ</h3>
        <div class="container" id="map">
            <div class="">
                <div >
                    <iframe class="mapaPrincipal"
                        src="https://www.google.com/maps/d/embed?mid=1SiT5_d_gGCEkzOra5acVThGL8u77oks&ehbc=2E312F"
                        ></iframe>
                </div>
                
            </div>

        </div>
    </section>
    
        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-2" id="info">LISTA DE ATRACTIVOS.</h3> <div id="sitios"></div>
        <div class="listalista" id="lista"></div>
            

    </section>
