
    <section >
        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-2">LISTA DE ATRACTIVOS TURÍSTICOS DEL MUNICIPIO DE
            UBATÉ</h3>
        <div class="listalista" id="lista"></div>
            

    </section>
