{{!-- <section>
	<section class=" bg-img mb-2 inf" id="mapa1">
		<h3 class="-heading text-center text-uppercase text-secondary mb-2">MAPA TURÍSTICO DEL MUNICIPIO DE
			UBATÉ</h3>
		<div class="container" id="map">
			<div class="">
				<div>
					<iframe class="mapaPrincipal"
						src="https://www.google.com/maps/d/embed?mid=1SiT5_d_gGCEkzOra5acVThGL8u77oks&ehbc=2E312F"></iframe>
				</div>

			</div>

		</div>
	</section>

	<h3 class="page-section-heading text-center text-uppercase text-secondary mb-2" id="info">LISTA DE ATRACTIVOS.</h3>
	<div id="sitios"></div>
	<div class="listalista" id="lista"></div>


</section> --}}

 <head>
	<link rel="stylesheet" type="text/css" href="./css/lista.css">
</head>
<section class="sectionlis">
	<div class="cards-containerlis" id="lista">
		
	</div>
	<form action="" id="sectionlista"  style="display:none  ;">
		<div class="content-sectionlis" id="">
			<div class="image-containerlis">
				<output id="nombre"  style="border: none;"></output>
				<img id="imagen" alt="Image">
			
				<output id="actividades"  style="border: none;"></output>
				<output id="informacion"  style="border: none;"></output>				
				<output id="ruta"  style="border: none;"> </output>
			</div>
		</div>
			<div class="streetviewlis">
			<div class="street-containerlis">
				<iframe class="imglis"
					src="https://www.google.com/maps/d/embed?mid=1SiT5_d_gGCEkzOra5acVThGL8u77oks&ehbc=2E312F"></iframe>
			</div>
			<p><a href="#lista">volver arriba</a></p>

		</div>
		</form>
</section> 

    <script src="/js/lista.js" type="module"></script>




