 <head>
	<link rel="stylesheet" type="text/css" href="./css/lista.css">
    <link rel="stylesheet" type="text/css" href="./css/colores.css">
 <head>
    <!-- Encabezado y estilos -->
    <script>
      window.addEventListener('DOMContentLoaded', function() {
        const atractivoId = "{{ atractivoId }}"; // Obtén el ID único del atractivo actual

        if (atractivoId) {
          const elementoEnfocar = document.getElementById(atractivoId);
          if (elementoEnfocar) {
            elementoEnfocar.scrollIntoView({ behavior: 'smooth' }); // Hace scroll hacia el elemento enfocado
          }
        }
      });
    </script>


</head>
<section class="sectionlis">
	<div class="cards-containerlis" id="lista">
		
	</div>
	<form action="" id="sectionlista"  style="display:none  ;">
		<div class="content-sectionlis" id="">
			<div class="image-containerlis">
				<output id="nombre"  style="border: none;"></output>
				<br>
				<div class="imglista"></div>
			
				<output id="actividades"  style="border: none;"></output>
				<br>
				<output id="descripcion"  style="border: none;">info</output>	
				<br>			
				<output id="ruta"  style="border: none;">ruta</output>
			</div>
		</div>
			<div class="streetviewlis  " >
				<iframe class="imglis" style="background-image:url(/img/parque\ los\ libertadores.jpeg) ;" id="street"></iframe>
			</div>
			<br>

		<div class="tabla-container">
        <table class="tabla">
            <tr>
                <th>HORARIO</th>
                <td>Domingo</td>
                <td>Lunes</td>
                <td>Martes</td>
                <td>Miercoles</td>
                <td>Jueves</td>
                <td>Viernes</td>
                <td>Sabado</td>
            </tr>
            <tr>
                <th>Abre</th>
                <td><output id="entradaDo" name="entradaDo"></output></td>
                <td><output id="entradaLu" name="entradaLu"></output></td>
                <td><output id="entradaMa" name="entradaMa"></output></td>
                <td><output id="entradaMi" name="entradaMi"></output></td>
                <td><output id="entradaJu" name="entradaJu"></output></td>
                <td><output id="entradaVi" name="entradaVi"></output></td>
                <td><output id="entradaSa" name="entradaSa"></output></td>
            </tr>
            <tr>
                <th>Cierra</th>
                <td><output id="salidaDo<" name="salidaDo"></output></td>
                <td><output id="salidaLu<" name="salidaLu"></output></td>
                <td><output id="salidaMa<" name="salidaMa"></output></td>
                <td><output id="salidaMi<" name="salidaMi"></output></td>
                <td><output id="salidaJu<" name="salidaJu"></output></td>
                <td><output id="salidaVi<" name="salidaVi"></output></td>
                <td><output id="salidaSa<" name="salidaSa"></output></td>
            </tr>
        </table>
		<style>
		

h1 {
    text-align: center;
}

.tabla-container {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	width: 90%;
}

.tabla {
    border-collapse: collapse;
	width: 90%;
}

.tabla th,
.tabla td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.tabla th {
    background-color: #f2f2f2;
    font-weight: bold;
}

		</style>
    </div>

		<br><br>
			<p><a href="#lista" class="btnG crear">volver arriba</a></p>

		</form>
</section> 

    <script src="/js/lista.js" type="module"></script>




