<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi página web</title>
	<link rel="stylesheet" href="pruea.css">
</head>
<body>
    <header>
      <img src="../public/img/marca.JPG" alt="Imagen" />
    </header>
    <nav id="navbar">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
	  

    </nav>
    <main>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores, fugit debitis autem quia dolor numquam cum quod voluptas porro vitae perferendis earum possimus in ducimus, voluptates explicabo dignissimos nostrum.
          
      
    </main>
  
	  <style>

header {
  height: 200px;
  background-color: #f1f1f1;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
}

main {
  margin-top: 70px; /* altura del nav + 20px de margen */
}


	  </style>
</body>
</html>
