<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi página web</title>
	<link rel="stylesheet" href="prueba.css">
</head>
<body>
	<div class="cards-container">
		<div class="card">
			<img src="https://via.placeholder.com/150" alt="Card image">
			<h3>Card title</h3>
			<p>Card description</p>
		</div>
		<div class="card">
			<img src="https://via.placeholder.com/150" alt="Card image">
			<h3>Card title</h3>
			<p>Card description</p>
		</div>
		<div class="card">
			<img src="https://via.placeholder.com/150" alt="Card image">
			<h3>Card title</h3>
			<p>Card description</p>
		</div>
		<div class="card">
			<img src="https://via.placeholder.com/150" alt="Card image">
			<h3>Card title</h3>
			<p>Card description</p>
		</div>
	</div>
	<div class="streetview">
		<div class="street-container">
			<iframe class="img"
		src="https://www.google.com/maps/d/embed?mid=1SiT5_d_gGCEkzOra5acVThGL8u77oks&ehbc=2E312F"
		></iframe>
		</div>
	</div>
	<div class="content-section">
		<div class="image-container">
			<img src="https://via.placeholder.com/400x400" alt="Image">
		</div>
		<div class="text-container">
			<h2>Section title</h2>
			<p>Section text</p>
		</div>
	</div>
	<script src="app.js"></script>
</body>
</html>
