<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css" href="./principal/css/styles.css">
    <link rel="stylesheet" type="text/css" href="./principal/css/agregar.css">
    <link rel="stylesheet" href="./principal/css/administrador.css">
	<link rel="stylesheet" href="./principal/css/bootstrap.min.css">
    <link rel="stylesheet" href="./principal/css/sweetalert2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>UBATÉ, ¡¡¡ DESTINO DE TRADICIONES !!!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./usuarios/crearP/CSS/movile.css">
    <link rel="stylesheet" href="./usuarios/crearP/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./usuarios/crearP/CSS/web.css" media="screen and (min-width:1000px)">
</head>
<body class="body" onload="cargar()">
{{!-- <div class=" col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div> --}}
<div class=" row contenido col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
    <h2>ADMINISTRADOR DE NOTICIAS</h2>
    <div>En este espacio podras agregar, editar, eliminar noticias relacionadas con el turismo en la Villa de San Diego de Ubaté.</div>

   <form class=" modal_formulario_R modal_formulario" id="register-form" action="/new-user-email" method="POST" class="contenido">
                    <input type="text" name="name" id="name" placeholder="Nombre Completo" required>
                    <input type="number" name="phone" id="phone" placeholder="Número de Teléfono" min="3000000000" max="9999999999" required>
                    <input type="email" name="email" id="email-a" placeholder="Correo Electronico" required>

                    <input type="password" name="passwordd" id="passwordd" placeholder="Contraseña" minlength="7" required>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Verificar Contraseña" minlength="7" required>
                    <p id="nn"></p>
                    <br>
                    <button id="boton" type="submit">Registrar</button>
                </form>
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="./usuarios/crearP/JS/index.js"></script>
</body>

</html>