
<head>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="stylesheet" type="text/css" href="./css/agregar.css">
    <link rel="stylesheet" href="./css/administrador.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/sweetalert2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./css/crear/crearPub_m.css">
    <link rel="stylesheet" href="./css/crear/crearPub_t.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./css/crear/crearPub_w.css" media="screen and (min-width:1000px)">
</head>
<body class="body gridContainer" onload="cargar()">

    <div class="errores" ><p ><h5 >{{mensajeError}}</h5></p></div>

{{!-- <div class=" col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div> --}}
<div class=" formRegisto ">
    <h2>REGISTRAR USUARIO NUEVO</h2>
    <div>Espacio para <b>REGISTRAR</b> un nuevo usuario para la colaboracion en el manejo de la página.</div>
    <div>Por favor llenar todos los espacios correctamente</div>

   <form class=" formRegisto " id="register-form" action="/new-user-email" method="POST" class="contenido" autocomplete="off" >  
                 <b>  <div> NOMBRE<input type="text" name="name" id="name" placeholder="Nombre Completo" required></div>
                   <div> NUMERO DE TELEFONO<input type="number" name="phone" id="phone" placeholder="Número de Teléfono" min="3000000000" max="9999999999" required></div>
                   <div>CORREO ELECTRÓNICO<input type="email" name="email" id="email-a" placeholder="Correo Electronico" required></div>
                   <div> CONTRASEÑA<input type="password" name="passwordd" id="passwordd" placeholder="Contraseña" minlength="" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  >
                    VERIFICAR CONTRASEÑA<input type="password" name="confirmPassword" id="confirmPassword" placeholder="Verificar Contraseña" minlength="7" required></div>
                    <br></b>
                    <button id="boton" type="submit">Registrar</button>
                </form>
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
</body>

</html>