<head>
    <link rel="stylesheet" type="text/css" href="./css/colores.css">

  <title>SIGUIENDO LOS PASOS EBATENSES</title>
</head>
</nav>
</div>

</header>



<body class=" body " onload="cargar()">
  <section class="info justify-content-center">
    <div class="wrapper tamaño-completo">

      {{!-- INFO --}}

      
      {{!-- FIN INFO --}}
      {{!-- SITIOS EN LA RUTA --}}
      {{!-- <aside class="aside aside-1">Aside 1</aside> --}}
      <aside class=" aside-2 sitios">
        <p class="sitios_interes"><h1>SITIOS DE INTERÉS</h1></p> 
        
          <section class="ruta-nowrap  " id="sitios-container1"></section>
        
      </aside>
      {{!-- FIN SITIOS EN LA RUTA --}}
      {{!-- MAPA --}}
      <article class="main rutarow" id="map">
        <iframe class="mapa "
          src="https://www.google.com/maps/d/u/0/embed?mid=1VTlCpyMAE8zsfos87rI_hRC5BacHE58&ehbc=2E312F"></iframe>
      </article>
      {{!-- FIN MAPA --}}
      
      {{!-- FIN CONTENIDO DE LA PAGINA --}}

    </div>



    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/principal.js" type="module"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>