<head>
    <link rel="stylesheet" type="text/css" href="./css/colores.css">

  <title>BICITURISMO EN UBATÉ</title>
</head>
</nav>
</div>
</header>

<body class=" body rutarutarow" onload="cargar()">
  <section class="info justify-content-center">
    <div class="wrapper">

      {{!-- INFO --}}

      {{!-- FIN INFO --}}
       {{!-- SITIOS EN LA RUTA --}}
      {{!-- <aside class="aside aside-1">Aside 1</aside> --}}
      <aside class=" aside-2">
               <p class="sitios_interes"><h2>SITIOS DE INTERÉS</h2></p> 
 
        
          <section class="ruta-nowrap justify-content-center " id="sitios-container5"></section>
        
      </aside>
      {{!-- FIN SITIOS EN LA RUTA --}}
      {{!-- MAPA --}}
      <article class="main rutarow" id="map">
        <iframe class="mapa"
          src="https://www.google.com/maps/d/u/0/embed?mid=11Z7mbHQ0-t5C5OpjD74IXoAvpTz_CAI&ehbc=2E312F"></iframe>
      </article>
      {{!-- FIN MAPA --}}
     

      {{!-- FIN CONTENIDO DE LA PAGINA --}}

    </div>