<head>
  <title>BICITURISMO EN UBATÉ</title>
</head>
</nav>
</div>
</header>

<body class=" body rutarutarow" onload="cargar()">
  <section class="info justify-content-center">
    <div class="wrapper">

      {{!-- INFO --}}

      <div class="info" id="info">
        <h3>INFORMACIÓN RELEVANTE</h3>
        <p class="texto" id="textoruta">
      </div>
      {{!-- FIN INFO --}}
      {{!-- MAPA --}}
      <article class="main rutarow" id="map"><p> MAPA </p><br><br>
        <iframe class="mapa"
          src="https://www.google.com/maps/d/u/0/embed?mid=11Z7mbHQ0-t5C5OpjD74IXoAvpTz_CAI&ehbc=2E312F"></iframe>
      </article>
      {{!-- FIN MAPA --}}
      {{!-- SITIOS EN LA RUTA --}}
      {{!-- <aside class="aside aside-1">Aside 1</aside> --}}
      <aside class="aside aside-2">SITIOS
        
          <section class="ruta-nowrap justify-content-center " id="sitios-container5"></section>
        
      </aside>
      {{!-- FIN SITIOS EN LA RUTA --}}

      {{!-- FIN CONTENIDO DE LA PAGINA --}}

    </div>