<head>
    <title>PROMESEROS Y ROMEROS UBATENSES</title>
    </head>
    </nav>	
  </div>
</header>
<body class=" body " onload="cargar()"> 
	<section class="info justify-content-center">
			<div class="wrapper">

		{{!-- INFO --}}
		
  <div class="info" id="info"><h3> INFORMACIÓN RELEVANTE</h3>
   <p class="texto"> Ubaté: donde las tradiciones cobran vida en el Encuentro de Promeseros y Romeros
          Ubaté es un destino que lo invita a sumergirse en la riqueza de sus tradiciones y el Encuentro de Promeseros y
          Romeros al Santo Cristo de Ubate es una de las más bellas y auténticas. Durante esta celebración, las mujeres
          preparan cuidadosamente sus trajes típicos, adornando sus faldas con tejidos, sombreros miniatura, cucharitas
          de madera y otros detalles que reflejan su cultura y su amor por la tierra. Los hombres también se visten de
          manera tradicional, usando la ruana y llevando sus totumas, ofrendas y viandas en la mochila.
          Pero este encuentro no es solo una exhibición de trajes y costumbres, también es una oportunidad para conocer
          la historia y la cultura de Ubaté. Durante su visita, podrá recorrer los lugares que cuentan la historia desde
          los tiempos de los Muiscas hasta la colonización, la independencia y el encuentro de poderes. Cada paso que dé
          por Ubaté será una experiencia única e inolvidable.
          No pierda la oportunidad de sumergirse en esta celebración y vivir la experiencia de ser un promesero o
          romero. Sea parte de esta tradición y deje que Ubaté lo envuelva con su cultura y su historia.
  </div>
  {{!-- FIN INFO --}}
	{{!-- MAPA --}}
  <article class="main rutarow" id="map">MAPA <br>
    <iframe class="mapa " src="https://www.google.com/maps/d/u/0/embed?mid=1m-FhQBKeszwEdydGK2mgxoIQk_jsDsY&ehbc=2E312F" ></iframe>
  </article>
  {{!-- FIN MAPA --}}
	{{!-- SITIOS EN LA RUTA --}}
  {{!-- <aside class="aside aside-1">Aside 1</aside> --}}
  <aside class="aside aside-2">SITIOS
     <div>
    <section class="rutarow justify-content-center " id="sitios-container3" ></section>
  </div>
  </aside>
  {{!-- FIN SITIOS EN LA RUTA --}}
	{{!-- FIN CONTENIDO DE LA PAGINA --}}
 
</div>
		

  <script src="/js/jquery-3.1.1.min.js"></script>
      <script src="/js/principal.js" type="module"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>