
    </nav>	
  </div>

	<section class="info justify-content-center">
			<div class="wrapper">

		{{!-- INFO --}}
		
  <div class="info" id="info"><h3>BICITURISMO EN UBATÉ <br> INFORMACIÓN RELEVANTE</h3>
   <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptatibus unde inventore reiciendis tempora cum quos illo quibusdam fuga atque cupiditate, amet quisquam quae explicabo fugiat iste suscipit quod omnis.
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, non praesentium excepturi, deleniti dolorum voluptatem fuga molestias asperiores sed ullam at possimus soluta sapiente commodi atque illo animi, tempora beatae?
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem nemo odio architecto qui modi explicabo impedit, non suscipit quod laudantium vitae voluptas labore dolor ut voluptatum exercitationem minus officia rem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptatibus unde inventore reiciendis tempora cum quos illo quibusdam fuga atque cupiditate, amet quisquam quae explicabo fugiat iste suscipit quod omnis.
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, non praesentium excepturi, deleniti dolorum voluptatem fuga molestias asperiores sed ullam at possimus soluta sapiente commodi atque illo animi, tempora beatae?
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem nemo odio architecto qui modi explicabo impedit, non suscipit quod laudantium vitae voluptas labore dolor ut voluptatum exercitationem minus officia rem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptatibus unde inventore reiciendis tempora cum quos illo quibusdam fuga atque cupiditate, amet quisquam quae explicabo fugiat iste suscipit quod omnis.
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, non praesentium excepturi, deleniti dolorum voluptatem fuga molestias asperiores sed ullam at possimus soluta sapiente commodi atque illo animi, tempora beatae?
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem nemo odio architecto qui modi explicabo impedit, non suscipit quod laudantium vitae voluptas labore dolor ut voluptatum exercitationem minus officia rem.</p>
  
  
  </div>
  {{!-- FIN INFO --}}
	{{!-- MAPA --}}
  <article class="main row" id="map">MAPA <br>
    <iframe class="mapa" src="https://www.google.com/maps/d/u/0/embed?mid=11Z7mbHQ0-t5C5OpjD74IXoAvpTz_CAI&ehbc=2E312F" ></iframe>
  </article>
  {{!-- FIN MAPA --}}
	{{!-- SITIOS EN LA RUTA --}}
  {{!-- <aside class="aside aside-1">Aside 1</aside> --}}
  <aside class="aside aside-2">SITIOS
     <div>
    <section class="row justify-content-center " id="sitios-container5" ></section>
  </div>
  </aside>
  {{!-- FIN SITIOS EN LA RUTA --}}

	{{!-- FIN CONTENIDO DE LA PAGINA --}}
 
</div>
		
