<head>
  <title>SABORES Y SABERES EBATENSES</title>
</head>
</nav>
</div>
</header>

<body class=" body rutarutarow" onload="cargar()">
  <section class="info justify-content-center">
    <div class="wrapper">

      {{!-- INFO --}}

      <div class="info" id="info">
        <h3> INFORMACIÓN RELEVANTE</h3>
        <p class="texto"> Ubaté, la tierra de los sabores auténticos
          En el fértil valle de Ubaté, los campesinos de ruana y sombrero cultivan decenas de productos agrícolas y
          producen miles de litros de leche que se comercializan en la región de Cundinamarca. En la Plaza de Mercado de
          Ubaté, podrás encontrar una amplia variedad de productos locales frescos, incluyendo frutas, verduras,
          hortalizas y carnes, además de productos lácteos como quesos, mantequilla, dulces y muchos más.
          Uno de los platos típicos más famosos de la región es la gallina, que se prepara con recetas tradicionales y
          se puede degustar en diferentes restaurantes y puestos de comida. Si visitas Ubaté en agosto, podrás disfrutar
          del "Festival de la Gallina", una festividad que celebra la riqueza gastronómica de la región y ofrece una
          variedad de platos típicos acompañados de música y baile.
          Además de la deliciosa comida, Ubaté cuenta con una gran variedad de pastelerías que ofrecen una amplia
          selección de amasijos, desde panes y galletas hasta pasteles y tortas. Cada pastelería tiene sus propias
          recetas y técnicas, que se han transmitido de generación en generación, y ofrecen un sabor auténtico y único.
          Por último, no puedes perderte la oportunidad de visitar los paradores lácteos, donde podrás degustar los
          mejores productos lácteos locales, incluyendo quesos, dulces y bebidas a base de leche. Los productos son
          elaborados con las técnicas tradicionales y con ingredientes frescos y de alta calidad, lo que los hace únicos
          en sabor y textura.

      </div>
      {{!-- FIN INFO --}}
      {{!-- MAPA --}}
      <article class="main rutarow" id="map">MAPA <br>
        <iframe class="mapa "
          src="https://www.google.com/maps/d/u/0/embed?mid=1ads-vPgO5wB1vyWzZYdFf70y-Fo0mN8&ehbc=2E312F"></iframe>
      </article>
      {{!-- FIN MAPA --}}
      {{!-- SITIOS EN LA RUTA --}}
      {{!-- <aside class="aside aside-1">Aside 1</aside> --}}
      <aside class="aside aside-2">SITIOS
        <div>
          <section class="rutarow justify-content-center " id="sitios-container2"></section>
        </div>
      </aside>
      {{!-- FIN SITIOS EN LA RUTA --}}

      {{!-- FIN CONTENIDO DE LA PAGINA --}}

    </div>



    <script src="/js/principal.js" type="module"></script>
    <script src="bootstrap/popper/bootstrap.min.js"></script>
    <script src="bootstrap/popper/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.j"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>