<head>
    <link rel="stylesheet" type="text/css" href="./css/colores.css">

  <title>PROMESEROS Y ROMEROS UBATENSES</title>
</head>
</nav>
</div>
</header>

<body class=" body " onload="cargar()">
  <section class="info justify-content-center">
    <div class="wrapper">

      {{!-- INFO --}}

      <div class="info" id="info">
        <h3> INFORMACIÓN RELEVANTE</h3>
        <p class="texto" id="textoruta"> 
      </div>
      {{!-- FIN INFO --}}
       {{!-- SITIOS EN LA RUTA --}}
      {{!-- <aside class="aside aside-1">Aside 1</aside> --}}
      <aside class=" aside-2">SITIOS
        
          <section class="ruta-nowrap justify-content-center " id="sitios-container3"></section>
        
      </aside>
      {{!-- FIN SITIOS EN LA RUTA --}}
      {{!-- MAPA --}}
      <article class="main rutarow" id="map">
        <iframe class="mapa "
          src="https://www.google.com/maps/d/u/0/embed?mid=1m-FhQBKeszwEdydGK2mgxoIQk_jsDsY&ehbc=2E312F"></iframe>
      </article>
      {{!-- FIN MAPA --}}
     
      {{!-- FIN CONTENIDO DE LA PAGINA --}}

    </div>


    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/principal.js" type="module"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>