<head>
  <title>SIGUIENDO LOS PASOS EBATENSES</title>
</head>
</nav>
</div>
</header>

<body class=" body " onload="cargar()">
  <section class="info justify-content-center">
    <div class="wrapper">

      {{!-- INFO --}}

      <div class="info" id="info">
        <h3> INFORMACIÓN RELEVANTE</h3>
        <p class="texto1 texto">
          Ubaté deriva de Ebaté, según Acosta Ortegón quiere decir Granero o Semillero del Boquerón y según otro Ebaté
          traduce sangre derramada o tierra ensangrentada. El poblamiento Aborígen estaba cerca al Boquerón sobre el
          camino a Carupa, por medio del cual desciende al valle del río de su nombre. Fue habilitado por numerosa
          población chibcha. La región fue descubierta de vista por Jiménez de Quesada a su paso de Lenguazaque a
          Cucunubá el 14 de marzo de 1537.

          La fundación del pueblo fue hecha el 12 de abril de 1592 por el Oídor Bernardo de Albornoz.

          En 1761 el curato de Ubaté tenía la categoría de primer orden, agrupaba 700 indios y 1.000 blancos y mestizos.
          En la visita de Moreno y Escandón iniciada el 4 de febrero de 1779, había 1.600 indios, los vecinos eran 2.043
          de 491 familias. El 26 de feb rero de 1906 se terminó la reconstrucción de la iglesia que se había
          deteriorado, sobre planos de Don Antonio Cortés Mesa. El 6 de agosto de 1921 Monseñor Medina bendijo la
          primera piedra para la construcción de la nueva iglesia de estilo gótico francés, cuyos planos presentó el
          Ingeniero Luis María Ferreira. La construcción se inició en 1927 con modificaciones hechas por el arquitecto
          Holandés Antonio Staufe. La iglesia fue inaugurada el 27 de octubre de 1939, finalmente fue bendecida por
          Monseñor Carlos Serna el 26 de octubre de 1941.

      </div>
      {{!-- FIN INFO --}}
      {{!-- MAPA --}}
      <article class="main rutarow" id="map">MAPA <br>
        <iframe class="mapa "
          src="https://www.google.com/maps/d/u/0/embed?mid=1VTlCpyMAE8zsfos87rI_hRC5BacHE58&ehbc=2E312F"></iframe>
      </article>
      {{!-- FIN MAPA --}}
      {{!-- SITIOS EN LA RUTA --}}
      {{!-- <aside class="aside aside-1">Aside 1</aside> --}}
      <aside class="aside aside-2 sitios">SITIOS
        <div>
          <section class="rutarow justify-content-center " id="sitios-container1"></section>
        </div>
      </aside>
      {{!-- FIN SITIOS EN LA RUTA --}}
      {{!-- FIN CONTENIDO DE LA PAGINA --}}

    </div>



    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/principal.js" type="module"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>