    <head>
    <title>TIPOS DE TURISMO</title>
    </head>
    <section class=" bg-img mb-2 inf" id="mapa1">
        <h3 class="-heading text-center text-uppercase text-secondary mb-2">MAPA TURÍSTICO DEL MUNICIPIO DE
            UBATÉ</h3>
        <div class="container">
            <div class="">
                <div >
                    <iframe class="mapaPrincipal"
                        src="https://www.google.com/maps/d/embed?mid=1SiT5_d_gGCEkzOra5acVThGL8u77oks&ehbc=2E312F"
                        ></iframe>
                </div>
                
            </div>

        </div>
    </section>

    <section class=" bg-brown mb-2 info " id="mapa2">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo de Cultura e Historia
        </h3>
        <div class="container">
            <div class="espacio-mapa">
            <div >
                    <iframe class="mapa iframe-tipo"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1VTlCpyMAE8zsfos87rI_hRC5BacHE58&ehbc=2E312F"
                        ></iframe>
                
                    <p class="texto">Turismo histórico: Ubate es una ciudad con una rica historia colonial, que se remonta a la época de la conquista española. Los visitantes pueden explorar los monumentos históricos y arquitectónicos de la ciudad, como la Basílica Menor de Nuestra Señora de la Asunción, una hermosa iglesia construida en el siglo XVII, que es considerada uno de los monumentos históricos más importantes de la región.
                    </p>
                </div>
                
            </div>
        </div>
    </section>

    <section class=" bg-pink mb-2 info" id="mapa3">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Gastronómico</h3>
        <div class="container">
            <div class="espacio-mapa">
                <div class="">
                     <iframe class="mapa iframe-tipo"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1ads-vPgO5wB1vyWzZYdFf70y-Fo0mN8&ehbc=2E312F"
                        ></iframe>
                        
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                
                   
                </div>
            </div>

        </div>
    </section>

    <section class=" bg-info mb-2 info" id="mapa4">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Religioso</h3>
        <div class="container">

            <div class="espacio-mapa">
                <div class="">
                    <iframe class="mapa iframe-tipo"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1m-FhQBKeszwEdydGK2mgxoIQk_jsDsY&ehbc=2E312F"
                        ></iframe>
                
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                
            </div>
        </div>
    </section>

    <section class=" bg-orange mb-2 info" id="mapa5">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo de Naturaleza</h3>
        <div class="container">
            <div class="espacio-mapa">
                <div class="">
                     <iframe class="mapa iframe-tipo"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1TDzd08D4FQtudv-kjvUesUdG6twi3yk&ehbc=2E312F"
                        ></iframe>

                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                
                   
                </div>
            </div>

        </div>
    </section>

    <section class=" bg-success mb-2 info" id="mapa6">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Deportivo</h3>
        <div class="container">
            <div class="espacio-mapa">
                <div class="">
                    <iframe class="mapa iframe-tipo"
                        src="https://www.google.com/maps/d/u/0/embed?mid=11Z7mbHQ0-t5C5OpjD74IXoAvpTz_CAI&ehbc=2E312F"
                        ></iframe>
                
                    <p class="texto"> Ubate es una ciudad rodeada de paisajes naturales impresionantes, que ofrecen una amplia variedad de actividades al aire libre para los visitantes interesados en el turismo rural. Los visitantes pueden disfrutar de caminatas por los senderos naturales, paseos en bicicleta, acampar y explorar los embalses de la región, como el Embalse del Neusa, un hermoso lago ubicado en las montañas de los Andes.
                    </p>
                </div>
                
            </div>
        </div>
    </section>

<script src="bootstrap/popper/bootstrap.min.js"></script>
    <script src="bootstrap/popper/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/principal/js/index.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/principal.js" type="module"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
    <script src="./js/firebaseAuth.js"></script>
    </body>

</html>