<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css" href="/principal/css/tipos.css">
    <link rel="stylesheet" type="text/css" href="/principal/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    
    <title>TIPOS DE TURISMO</title>
</head>

<body class="">

    <nav class=" navbar-expand-lg bg-transparent text-uppercase fixed-top opciones" id="mainNav">
        <div >
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                MENÚ
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto rounded" >
                        
                    <li> <a href="/"> <img class="navbar-brand"  src="/principal/img/marca.png" width="120" height="50"></a> </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="./#rutas"><h6>RUTAS</h6></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="./#atractivos"><h6>ATRACTIVOS</h6></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="./#noticias"><h6>NOTICIAS</h6></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="./tipos"><h6>TIPOS
                            DE TURISMO</h6></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#contacto"><h6>CONTACTANOS!!!</h6></a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <section class=" bg-img mb-2 info" id="mapa1">
        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-2">MAPA TURÍSTICO DEL MUNICIPIO DE
            UBATÉ</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/embed?mid=1SiT5_d_gGCEkzOra5acVThGL8u77oks&ehbc=2E312F"
                        ></iframe>
                </div>
                
            </div>

        </div>
    </section>

    <section class="page-section bg-brown mb-2 info" id="mapa2">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo de Cultura e Historia
        </h3>
        <div class="container">
            <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1VTlCpyMAE8zsfos87rI_hRC5BacHE58&ehbc=2E312F"
                        ></iframe>
                </div>
            
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                
            </div>
        </div>
    </section>

    <section class="page-section bg-pink mb-2 info" id="mapa3">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Gastronómico</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1ads-vPgO5wB1vyWzZYdFf70y-Fo0mN8&ehbc=2E312F"
                        ></iframe>
                </div>
            </div>

        </div>
    </section>

    <section class="page-section bg-info mb-2 info" id="mapa4">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Religioso</h3>
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1m-FhQBKeszwEdydGK2mgxoIQk_jsDsY&ehbc=2E312F"
                        ></iframe>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                
            </div>
        </div>
    </section>

    <section class="page-section bg-orange mb-2 info" id="mapa5">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo de Naturaleza</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1TDzd08D4FQtudv-kjvUesUdG6twi3yk&ehbc=2E312F"
                        ></iframe>
                </div>
            </div>

        </div>
    </section>

    <section class="page-section bg-success mb-2 info" id="mapa6">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Deportivo</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=11Z7mbHQ0-t5C5OpjD74IXoAvpTz_CAI&ehbc=2E312F"
                        ></iframe>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                
            </div>
        </div>
    </section>

<footer class="footer text-center texto-blanco">
    <div class="container">
        <div class="row me-auto" id="contacto">

            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">UBICACIÓN</h4>
                <p class="lead me-auto">
                   <h6> VILLA DE SAN DIEGO DE UBATÉ
                    <br />
                    ESTUDIANTES 9° SEMESTRE <br> UNIVERSIDAD DE CUNDINAMARCA
                </p></h6>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">REDES TURISMO UBATÉ</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                {{!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                        class="fab fa-fw fa-twitter"></i></a> --}}
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-instagram"></i></a>
                {{!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                        class="fab fa-fw fa-whatsapp"></i></a> --}}
            </div>

            <div class="col-lg-4">
                <h4 class="text-uppercase mb-2">IIPA 2022</h4>

            </div>
        </div>
    </div>
</footer>

<script src="bootstrap/popper/bootstrap.min.js"></script>
    <script src="bootstrap/popper/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/principal/js/index.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/principal.js" type="module"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
    <script src="./js/firebaseAuth.js"></script>
    </body>

</html>