<head>
    <link rel="stylesheet" type="text/css" href="./css/colores.css">

    <title>TIPOS DE TURISMO</title>
</head>
<section class=" bg-img mb-2 inf" id="mapa1">
    <h3 class="-heading text-center text-uppercase text-secondary mb-2">MAPA TURÍSTICO DEL MUNICIPIO DE
        UBATÉ</h3>
    <div class="container">
        <div class="">
            <div>
                <iframe class="mapaPrincipal" id="map"
                    src="https://www.google.com/maps/d/embed?mid=1SiT5_d_gGCEkzOra5acVThGL8u77oks&ehbc=2E312F"></iframe>
            </div>

        </div>

    </div>
</section>
<div id="info"></div>
<section class=" bg-brown mb-2 info " id="mapa2">
    <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo de Cultura e Historia
    </h3>
    <div class="container">
        <div class="espacio-mapa">
            
                <iframe class="mapa iframe-tipo"
                    src="https://www.google.com/maps/d/u/0/embed?mid=1VTlCpyMAE8zsfos87rI_hRC5BacHE58&ehbc=2E312F"></iframe>

                <p class="texto">Ubaté es una ciudad con una rica historia colonial, que se remonta a la época de la
                    conquista española. Los visitantes pueden explorar los monumentos históricos y arquitectónicos de la
                    ciudad, como la Basílica Menor de Nuestra Señora de la Asunción, una hermosa iglesia construida en
                    el siglo XVII, que es considerada uno de los monumentos históricos más importantes de la región.
                </p>
            

        </div>
    </div>
</section>

<section class=" bg-pink mb-2 info" id="mapa3">
    <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Gastronómico</h3>
    <div class="container">
        <div class="espacio-mapa">
            <div class="">
                <iframe class="mapa iframe-tipo"
                    src="https://www.google.com/maps/d/u/0/embed?mid=1ads-vPgO5wB1vyWzZYdFf70y-Fo0mN8&ehbc=2E312F"></iframe>

                <p class="texto">Ubaté es un destino turístico emergente para el turismo gastronómico en Colombia. La
                    ciudad ofrece una amplia variedad de platos típicos y tradicionales, como el "cocido boyacense", el
                    "queso de capa", las arepas de maíz pelao, entre otros. Los visitantes pueden disfrutar de la
                    gastronomía local en los restaurantes y mercados de la ciudad, que ofrecen una experiencia auténtica
                    de la comida colombiana en un ambiente acogedor y amistoso. Además, la región de Ubaté es conocida
                    por su producción de leche y productos lácteos, lo que hace que la degustación de quesos sea una
                    actividad popular para los turistas que visitan la zona.
                </p>


            </div>
        </div>

    </div>
</section>

<section class=" bg-info mb-2 info" id="mapa4">
    <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Religioso</h3>
    <div class="container">

        <div class="espacio-mapa">
            <div class="">
                <iframe class="mapa iframe-tipo"
                    src="https://www.google.com/maps/d/u/0/embed?mid=1m-FhQBKeszwEdydGK2mgxoIQk_jsDsY&ehbc=2E312F"></iframe>

                <p class="texto">Ubaté es un destino turístico religioso en Colombia. La ciudad cuenta con la Basílica
                    Menor de Nuestra Señora de la Asunción, una hermosa iglesia construida en el siglo XVII, que es
                    considerada uno de los monumentos históricos y religiosos más importantes de la región. Los
                    visitantes pueden explorar los monumentos históricos y arquitectónicos de la ciudad, así como
                    participar en festividades religiosas como la Semana Santa y el Día de los Santos.
                </p>
            </div>

        </div>
    </div>
</section>

<section class=" bg-orange mb-2 info" id="mapa5">
    <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo de Naturaleza</h3>
    <div class="container">
        <div class="espacio-mapa">
            <div class="">
                <iframe class="mapa iframe-tipo"
                    src="https://www.google.com/maps/d/u/0/embed?mid=1TDzd08D4FQtudv-kjvUesUdG6twi3yk&ehbc=2E312F"></iframe>

                <p class="texto"> Es un destino popular para el turismo de naturaleza. Ofrece hermosos paisajes
                    naturales, caminatas ecológicas y observación de aves migratorias. También cuenta con una importante
                    reserva de agua dulce, cascadas y montañas que ofrecen vistas impresionantes y deportes de aventura.
                </p>


            </div>
        </div>

    </div>
</section>

<section class=" bg-success mb-2 info" id="mapa6">
    <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Deportivo</h3>
    <div class="container">
        <div class="espacio-mapa">
            <div class="">
                <iframe class="mapa iframe-tipo"
                    src="https://www.google.com/maps/d/u/0/embed?mid=11Z7mbHQ0-t5C5OpjD74IXoAvpTz_CAI&ehbc=2E312F"></iframe>

                <p class="texto"> Ubaté es un destino turístico en Colombia que ofrece una amplia variedad de
                    experiencias deportivas para los visitantes. La ciudad cuenta con una pista de BMX y un patinódromo
                    para los amantes de los deportes extremos, y también es un destino ideal para el ciclismo de
                    montaña, con numerosas rutas y senderos para los ciclistas. Además, los visitantes pueden disfrutar
                    de actividades al aire libre como el senderismo en la región montañosa.
                </p>
            </div>

        </div>
    </div>
</section>

<script src="bootstrap/popper/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/principal/js/index.js"></script>
<script src="/js/index.js"></script>
<script src="/js/principal.js" type="module"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
<script src="./js/firebaseAuth.js"></script>
</body>

</html>