    
    <title>TIPOS DE TURISMO</title>

    <section class=" bg-img mb-2 inf" id="mapa1">
        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-2">MAPA TURÍSTICO DEL MUNICIPIO DE
            UBATÉ</h3>
        <div class="container">
            <div class="row">
                <div >
                    <iframe class="mapaPrincipal"
                        src="https://www.google.com/maps/d/embed?mid=1SiT5_d_gGCEkzOra5acVThGL8u77oks&ehbc=2E312F"
                        ></iframe>
                </div>
                
            </div>

        </div>
    </section>

    <section class="page-section bg-brown mb-2 info" id="mapa2">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo de Cultura e Historia
        </h3>
        <div class="container">
            <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1VTlCpyMAE8zsfos87rI_hRC5BacHE58&ehbc=2E312F"
                        ></iframe>
                </div>
            
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                
            </div>
        </div>
    </section>

    <section class="page-section bg-pink mb-2 info" id="mapa3">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Gastronómico</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1ads-vPgO5wB1vyWzZYdFf70y-Fo0mN8&ehbc=2E312F"
                        ></iframe>
                </div>
            </div>

        </div>
    </section>

    <section class="page-section bg-info mb-2 info" id="mapa4">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Religioso</h3>
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1m-FhQBKeszwEdydGK2mgxoIQk_jsDsY&ehbc=2E312F"
                        ></iframe>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                
            </div>
        </div>
    </section>

    <section class="page-section bg-orange mb-2 info" id="mapa5">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo de Naturaleza</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1TDzd08D4FQtudv-kjvUesUdG6twi3yk&ehbc=2E312F"
                        ></iframe>
                </div>
            </div>

        </div>
    </section>

    <section class="page-section bg-success mb-2 info" id="mapa6">
        <h3 class=" text-center text-uppercase text-secondary mb-2">Turismo Deportivo</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 col-6 ms-auto me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/u/0/embed?mid=11Z7mbHQ0-t5C5OpjD74IXoAvpTz_CAI&ehbc=2E312F"
                        ></iframe>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                
            </div>
        </div>
    </section>

<script src="bootstrap/popper/bootstrap.min.js"></script>
    <script src="bootstrap/popper/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/principal/js/index.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/principal.js" type="module"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
    <script src="./js/firebaseAuth.js"></script>
    </body>

</html>