@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');




html{
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif, cursive;
    
  
}
@import url('./bootstrap.min.css');
/* Material desing for Bootstrap */
@import url('./bootstrap-material-design.min.css');
@import url('./ripples.min.css');
/* Sweet Alert 2 */
@import url('./sweetalert2.css');
/* Malihu jQuery custom content scroller 3.1.5 */
@import url('./jquery.mCustomScrollbar.css');
/* Material Design Iconic Font 2.2.0 */
@import url('./material-design-iconic-font.min.css');
/*============ Fonts */


/*============ Estilos generales*/
.body{
	height: 100%;
	/* background-color: #01589b50; */
	font-family: 'Quicksand', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif, cursive;
}
.full-box{
	
	width: 100%;
	box-sizing:content-box;
	align-content: flex-end;
}
.cover{
	background: 50% 50% no-repeat;
	background-size: cover;
}
.text-titles{
	font-family: 'Quicksand', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif, cursive;
}
/*============ LogIn*/
.logInForm{
	position: absolute;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 300px;
	padding: 15px;
	box-shadow: 0 0 3px rgba(0,0,0,.7);
	border-radius: 0 0 2px 2px;
	background-color: rgba(0, 0, 0, .7);
}
.logInForm p,
.logInForm label{
	color: #FFF;
}
/*============ Partes del dashboard*/
.dashboard-sideBar{
	position:fixed;
	top: 0;
	height:max-content;
	transition: all .3s ease-in-out;
}

.dashboard-contentPage{
	position:static;
	top: 0;
	height: auto;
	transition: all .3s ease-in-out;
}
/*sideBar*/
.dashboard-sideBar,
.dashboard-sideBar-ct{
	width: auto;
}
.dashboard-sideBar{
	left: 0;
	z-index: 2;
	border-right: 0.1px solid rgba(255, 255, 255, .4);
	overflow: hidden;
}
.dashboard-sideBar-ct{
	position: relative;
	height: 100%;
	background-color: rgba(0, 0, 0, .77);
	padding: 0 10px;
	padding-bottom: 30px;
}
.dashboard-sideBar-title,
.dashboard-sideBar-title > i{
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 23px;
}
.dashboard-sideBar-title{
	position: relative;
}
.dashboard-sideBar-title > i{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 40px;
}
.dashboard-sideBar-UserInfo{
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	color: #fff;
	font-size: 14px;
	padding: 20px 0;
}
.dashboard-sideBar-UserInfo figure img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}
.dashboard-sideBar-UserInfo ul{
	margin-top: 15px;
}
.dashboard-sideBar-UserInfo ul > li,
.dashboard-sideBar-UserInfo ul > li > a{
	display: inline-block;
	color: #fff;
}
.dashboard-sideBar-UserInfo ul > li > a{
	outline: none;
	font-size: 20px;
	padding: 7px;
	transition: all .3s ease-in-out;
}
.dashboard-sideBar-UserInfo ul > li > a:hover{
	color: #22edff;
}
.dashboard-sideBar-Menu{
	padding-top: 15px;
}
.dashboard-sideBar-Menu > li,
.dashboard-sideBar-Menu > li > a,
.dashboard-sideBar-Menu > li > ul > li,
.dashboard-sideBar-Menu > li > ul > li > a{
	line-height: 50px;
	font-family: 'Quicksand', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif, cursive;
	display: block;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	transition: all .3s ease-in-out;
	position: sticky;
}
.dashboard-sideBar-Menu > li > a > i.zmdi-caret-down{
	line-height: 50px;
	transition: all .3s ease-in-out; 
}
.dashboard-sideBar-Menu > li > a{
	padding: 0 15px;
	box-sizing: border-box;
	height: 100%;
	outline: none;
}
.dashboard-sideBar-Menu > li > a:hover{
	background-color: rgba(255, 255, 255, .1);
}
.dashboard-sideBar-Menu > li > ul{
	position: relative;
	padding-top: 7px;
	height: 0;
	overflow: hidden;
}
.show-sideBar-SubMenu{
	height: auto !important;
	overflow: auto !important;
}
.dashboard-sideBar-Menu > li > ul > li,
.dashboard-sideBar-Menu > li > ul > li > a{
	line-height: 40px;
	border-radius: 0;
}
.dashboard-sideBar-Menu > li > ul > li{
	padding-left: 27px;
}
.dashboard-sideBar-Menu > li > ul > li > a{
	border-left: 3px solid transparent;
	outline: none;
}
.dashboard-sideBar-Menu > li > ul > li > a:hover{
	border-left: 3px solid #22edff;
	color: #22edff;
}
/*contentPage*/
.dashboard-contentPage{
	right: 0;
	z-index: 1;
	padding-left: 270px;
}
.dashboard-Navbar,
.dashboard-Navbar > ul,
.dashboard-Navbar > ul >li,
.dashboard-Navbar > ul > li > a{
	height: 70px;
	line-height: 50px;
	width: 100%;
	

}
.dashboard-Navbar > ul > li > a{
	outline: none;
}
.dashboard-Navbar{
	background-color: #1d1d27;
	overflow: hidden;
}
.dashboard-Navbar > ul >li,
.dashboard-Navbar > ul > li > a{
	display: inline-block;
	width: 50px;
	text-align: center;
	color: rgb(28, 26, 26);
	margin: 0;
	padding: 0;
	font-size: 20px;
	transition: all .3s ease-in-out;
	position: relative;
}
.dashboard-Navbar > ul > li > a:hover{
	background-color: rgba(236, 119, 23, 0.407);
	color: #ffffff;
}
.dashboard-Navbar > ul > li > a > span.badge{
	position: absolute;
	top: 7px;
	right: 6px;
	background-color: #d79c8f;
	transition: all .3s ease-in-out;
}
.dashboard-Navbar > ul > li > a:hover span.badge{
	background-color: #FFF;
	color: #333;
}
/*============ Area de notificaciones*/
.Notifications-area{
	height: 100%;
	position: fixed;
	z-index: 99;
	transition: all .3s ease-in-out;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
}
.Notifications-bg,
.Notifications-body{
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.Notifications-bg{
	z-index: 1;
	background-color: rgba(0, 0, 0, .7);
}
.Notifications-body{
	z-index: 2;
	background-color: #FFF;
	width: 100%;
	max-width: 300px;
	transform: translateX(300px);
	transition: all .3s ease-in-out;
}
.Notifications-body-title,
.Notifications-body-title > i{
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}
.Notifications-body-title{
	background-color: #22edff;
	color: #fff;
	position: relative;
}
.Notifications-body-title > i{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 50px;
}
.show-Notification-area{
	opacity: 1 !important;
	pointer-events: auto !important;
}
.show-Notification-area > .Notifications-body{
	transform: translateX(0) !important;
}
/*============ Estilos home*/
.tile{
	max-width: 300px;
	height: 180px;
	background-color: rgb(10, 7, 7);
	color: rgba(43, 174, 168, 1);
	position: relative;
	display: inline-block;
	box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
	overflow: hidden;
	cursor: pointer;
	margin: 10px;
}
.tile:hover > .tile-icon > i,
.tile:hover > .tile-number{
	color: rgb(0, 0, 0);
}
.tile-title,
.tile-icon,
.tile-number{
	position: absolute;
}
.tile-title{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	background-color: rgb(43, 174, 168);
	color: #fff;
	top: 0;
	left: 0;
}
.tile-icon,
.tile-number{
	bottom: 0;
	height: 140px;
	width: 150px;
}
.tile-icon{
	left: 0;
}
.tile-icon > i{
	line-height: 140px;
	font-size: 117px;
}
.tile-icon > i,
.tile-number{
	color: rgba(43, 174, 168, .4);
	transition: all .3s ease-in-out;
}

.tile-number > p{
	font-size: 70px;
}
.tile-number > small{
	font-size: 17px;
}
/*TimeLine*/
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #000000;
}
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block::after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(0,0,0,.09);
}
.cd-timeline-img img {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  border-radius: 0.25em;
  padding: 1em;
  background-color: #01579B;
  color: #fff;
}
.cd-timeline-content::after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #01579B;
}
@media (min-width: 1200px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
      
    }
    .cd-timeline-img img{
        width: 60px;
        height: 60px;
    }
    .cd-timeline-content .cd-date {
        color: #01579B;
    }
    .cd-timeline-content {
        margin-left: 0;
        width: 45%;
    }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #01579B;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #01579B;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

/*======= MEDIA QUERIES*/
@media (max-width: 767px){
	.dashboard-sideBar{
		width: 100%;
		z-index: 99;
		background-image: none;
		background-color: transparent;
		border-right: none;
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
	}
	.dashboard-sideBar-ct,
	.dashboard-sideBar-bg{
		position: absolute;
		top: 0;
		left: 0;
	}
	.dashboard-sideBar-ct{
		background-color: #000;
		border-right: 1px solid rgba(255, 255, 255, .3);
		z-index: 3;
		max-width: 270px;
		width: 100%;
		transition: all .3s ease-in-out;
		transform: translateX(-270px);
	}
	.dashboard-sideBar-bg{
		height: 100%;
		background-color: rgba(0, 0, 0, .6);
		z-index: 2;
	}
	.dashboard-contentPage{
		padding-left: 0;
	}
	.show-sidebar{
		pointer-events: auto !important;
		opacity: 1 !important;
	}
	.show-sidebar > .dashboard-sideBar-ct{
		transform: translateX(0) !important;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.hide-sidebar{
		pointer-events: none;
		opacity: 0;
		border-right: none;
		transform: translateX(-270px);
	}
	.no-paddin-left{
		padding-left: 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.hide-sidebar{
		pointer-events: none;
		opacity: 0;
		border-right: none;
		transform: translateX(-270px);
	}
	.no-paddin-left{
		padding-left: 0;
	}
}
@media (min-width: 1200px){
	.hide-sidebar{
		pointer-events: none;
		opacity: 0;
		border-right: none;
		transform: translateX(-270px);
	}
	.no-paddin-left{
		padding-left: 0;
	}
}


.atractivoslista{
	/* max-height: 400px; */
    border-radius: 30px;
    margin: 0% 1% 0% 1%;
    /* background-color: rgba(138, 177, 189, 0.534); */
    border: solid 0px;
    text-align: center;
	/* overflow: scroll; */



}

.activo{
    text-align: center;
    background-color: rgba(138, 177, 189, 0.534);
    margin: 0% 1% 0% 1%;
    border-radius: 30px;
	max-height: 400px;
}

.atractivosboton{
    width:auto;
    height: 30%;
    border-radius: 30px;
    margin: 0% 1% 0% 1%;
    background-color: rgba(138, 177, 189, 0.534);
    border: solid 0px;
    text-align:end;
}

.portfoliolista {
	transition: all 0.2s ease-in-out;
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	position: static;
	display: block;
	border-radius: 0.5rem;
	overflow: hidden;
  	opacity: 1;
  	font-size: 1.5rem;
	max-width: 40%;
	max-height: 90%;
  }

  


.menu__item{
    
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut , var(--duration));
    
}

.menu__item::before{
    
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 10%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
    
}


.menu__item.active {

    transform: translate3d(0, -.01sem , 0);

}

.menu__item.active::before{
    
    transform: scale(2);
    /* background-color: var(--bgColorItem); */
	color: white;

}

.icon{
    
    width: 1.6em;
    height: 1.6em;
    stroke: rgb(19, 17, 17);
	color: white;
    fill: transparent;
    stroke-width: 0.8pt;
    stroke-miterlimit: 2;
    stroke-linecap:butt;
    stroke-linejoin: butt;
    stroke-dasharray: 400;
    
}

.menu__item.active .icon {

    animation: strok 1.5s reverse;
	visibility: hidden;
    
}

@keyframes strok {

    100% {

        stroke-dashoffset: 400;

    }

}

.menu__border{

    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));
    
}

.svg-container {

    width: 0;
    height: 0;
}


@media screen and (max-width: 50em) {
    .menu{
        font-size: .8em;
    }
}
html {

    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: .7s;    

}

html *,
html *::before,
html *::after {

    box-sizing:border-box;

}


.uno::before{
    content: "Atractivos";
	font-size: 12px;
}

 .dos::before{
    content: "Calendario";
	font-size: 12px;
}

.tres::before{
    content: "Noticias";
	font-size: 12px;
}

.cuatro::before{
    content: "Rutas";
	font-size: 12px;
}

.cinco::before{
    content: "None";
	font-size: 12px;
}

.atr {
	display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  flex: 0 0 33.333333%;
}



  .card-a{
    width: 200px;
   height: 300px;
    border-radius: 30px;
    overflow: scroll;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.289);
    background-clip: border-box;
    border: 0.125rem solid rgba(0, 0, 0, 0.125);
    word-wrap: break-word;
	background-repeat: no-repeat;
	background-size: cover;
  }

  .card-n{
	width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
    flex-direction: column;
    word-wrap: break-word;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    border: 1.125rem solid rgba(0, 0, 0, 0.145);
    overflow: scroll;
    /* overflow: hidden; */
    word-wrap: break-word;
  }

 .menu{
	position: sticky;
 }

.sitios{
	overflow: visible;
	

}
.fijo{
	position: sticky;
	width: 100%;
}
.contenido{
	height: 100%;
	width: 100%;
	color: #000;
}

.opciones{
	position: sticky;
	color: #000;
	padding: auto;
	width: 100%;
  }

  .marquilla{
	width: 50px;
	height: 50px;
	margin: 0.5em;
  }

  .ruta-admin {
	width: 20%;
	height: 400px;
	font-size: 24px;
  }
  
  /* Definimos el estilo que queremos aplicar para anchuras de 700px o menos */
  @media screen and (max-width: 700px) {
	.ruta-admin {
		width: 100%;
	height: auto;
	  font-size: 12px;
	}
  }

  .cardnoticias{
	border: 3px solid rgba(74, 74, 74, 0.962);
	border-radius: 0px 20px 12px 5px ;
  }
  .cardnoticias-content{
	background-color: #99b1c490;
  }

  .centrado{
	display:flex ;
	justify-content: center;
  }
  .centrado-content{
	display:flex ;
	flex-direction: column;
  }
  .centrado-content-align{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
  }
  
  .fruta1 {
    background-color: rgba(196, 104, 23, 0.397);
}
.fruta2 {
    background-color:rgba(221, 32, 155, 0.396);
}
.fruta3 {
    background-color: rgba(52, 113, 211, 0.488);
}
.fruta4 {
    background-color:rgba(218, 162, 20, 0.493);
}
.fruta5 {
    background-color:rgba(24, 118, 16, 0.3);
}

.btnG{   
	overflow: hidden;
    border-radius: 30px 20px 20px 30px;
    background-color: rgb(37 146 201 / 0%);
    border-color: #496d8ded;
    border-style: solid;
	color: #000;
}

.crear{   
	background-color: #ff8c00;
	text-transform: capitalize;
}

.crear a{   
	color: #000;
}

.regleyenda{
	padding: 7%;
	font-size: 1em;
}

.t-white{
	color: #fff;
}

.navegacion {
    width: 90%;
}

.calendario_admin {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}