@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html{
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif, cursive;
    
    color: black;
}
header{
  /* margin: 10pt; */
}

body {
    background-color: antiquewhite;

}

.formulario{
 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    margin: 2px;
}

.form{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px) saturate(138%);
    -webkit-backdrop-filter: blur(6px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

@media (min-width: 992px) {
.form{
 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top:5%;
backdrop-filter: blur(6px) saturate(138%);
-webkit-backdrop-filter: blur(6px) saturate(138%);
/* background-color: rgba(63, 94, 197, 0.36); */
border-radius: 12px;
/* border: 1px solid rgba(209, 213, 219, 0.3); */
}
}

@media (min-width: 1200px) {
.form{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    backdrop-filter: blur(6px) saturate(138%);
    -webkit-backdrop-filter: blur(6px) saturate(138%);
    /* background-color: rgba(219, 89, 89, 0.879); */
    border-radius: 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    }
}
    
  .cancelar{
    width:min-content;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    background-color: rgb(184, 84, 84);
    text-align: center;
    color: black;
  }

  .agregar{
    width:min-content;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    background-color: rgb(84, 184, 117);
  }

  .espaciotext1{
    justify-content: center;
    font-style: italic;

  }
  
  .espaciotext2{
    width: 100%;

  }
  
  .noticia{
    width: 100%;
    background-color: aqua;
  }

  .word{
    width: 100%;
   height: 350px;
    overflow: scroll;
  }

  .word1{
    width: 100%;
    overflow: hidden;
    max-height: 70px;
  }
  .word2{
    width: 100%;
    max-height: 60px;
  }
  .word3{
    width: 100%;
    max-height: 100px;
    overflow: hidden;
  }

  .word4{
    width: 100%;
    max-height: 100px;
    overflow: scroll;
    border-color: black 1px;

  }

  .img_p{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100vh;
    cursor: pointer;
}

.imagen div{
  width: 30px;
  height: 30px;
  top: calc(100% - 35px);
  left: calc(100% - 35px);
}


input[type=submit]{
  margin-bottom: 3%;
  margin-top: 3%;
  width: 50%;
  border: none;
  background-color: rgb(81, 138, 187);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #d3e1ec;
}

.gridContainer > div {
  text-align: center;
  padding: 20px 0;
}

.eContenido{
	background-color: rgba(255, 250, 250, 0.407);
	color: #000;
  display: flex;
  flex-flow: row wrap;
  border-color: #000;
}

.street{
  width: 70%;
  height: 20px;
}

.lista_editar{
  text-align: center;
  font-size:smaller;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  border-color: #000;
}


.btn-delete{
  background-color:rgb(242, 50, 50) ;
}

.btn-edit{
  background-color:darkorange;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #8eb5e4b8;
}

.imagenicono{
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.btn-abort{
  margin: 0%;
  cursor: pointer;
  width: 70%;
  font-size: 1.6rem;
  -webkit-appearance: button;
  border: none;
  background-color: #d9534f;
  margin-bottom: 0%;
  margin-top: 0%;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  user-select: none;
  background-image: none;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}