:root {
	--cafe: #8d4a32;
	--azul: #0f6973;
	--rosado: #a71737;
	--negro: #010101;
	--blanco-opaco: #c6c6c6;
  }
form{
    width: 50%;
}
.body_crearP p{
    font-size: 1.8rem;
}
.body_crearP span{
    font-size: 1.6rem;
}
input,select,textarea{
    width: 40%;
}
::placeholder, select,textarea {
    font-size: 1.6rem;
}
input[type=submit]{
    width: 40%;
    font-size: 1.6rem;
}
.imagen div{
    width: 30px;
    height: 30px;
    top: calc(100% - 35px);
    left: calc(100% - 35px);
}
label{
    width: 70%;
}
.selector a{
    width: 20%;
    font-size: 1.6rem;
}