footer {
  color: #f0f0f0;
  padding: 20px;
  width: 90%;
  margin: auto;
  background-color: #2d3c4a;
  border-radius: 12px 20% 30px 20%;

}

footer a {
  color: white;
  font-size: unset;
  margin-top: 1rem;
}

footer li {
  margin-top: 1rem;
  list-style-type: none;
}

.footerImg{
  max-width: 30%;
  height: auto;
  max-height: 300px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #202d39;
  border-radius: 12px 20% 30px 10%;

}

.footer-column {
  flex-basis: 30%;
  margin-bottom: 20px;
  width: 80%;
  color: white;
  background-color: #12273a;
  border-radius: 12px 20% 19px 50%;
}

/* Media queries para la responsividad */

@media screen and (max-width: 768px) {
  .footer-column {
    flex-basis: 100%; /* Las columnas ocupan todo el ancho en pantallas pequeñas */
  }
}
.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

