/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;400&family=Raleway:ital,wght@1,900&family=Red+Hat+Display:ital,wght@1,500&display=swap'); */

:root {
	--cafe: #8d4a32;
	--azul: #0f6973;
	--rosado: #a71737;
	--negro: #010101;
	--blanco-opaco: #c6c6c6;
  }

.bg-cont {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-cont-rgb), var(--bs-bg-opacity)) !important;
}

html {
  font-family: 'Quicksand', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif, cursive;
  background: radial-gradient(200px top, ellipse, white, #1162ac, black);
  color: black;
}

body {
  /* background-image: url(../img/basilicainterno.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}


.tamimagenes {
  overflow: hidden;
  border-radius: 80px 10% / 50px 10em 10px 25em;
}

.aaa {
  width: 100%;
  height: 100%;
  contain: content;
  object-fit: cover;
  overflow: hidden;
  background-size: cover;


}

.iniciar {
  padding-top: 10%;
}

img.imgmultimedia {
  /*background-color: rgb(122, 11, 11);*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*position:absolute;
*/
  top: 40px;
  left: 40px;
  z-index: -1;
  background-size: contain;
  background-size: 200px;
}

.informacion {
  width: auto;
  height: 40%;
  border-radius: 30px;
  margin: 0% 1% 0% 1%;
  background-color: aqua;
  border: solid 0px;
  text-align: center;
}


.atractivos {
  width: auto;
  height: 40%;
  border-radius: 30px;
  margin: 0% 5% 0% 5%;
  /* background-color: rgba(138, 177, 189, 0.534); */
  border: solid 0px;
  text-align: justify;
}

.atractivos p {
  margin: 2% ;
}
.rutas{
  width: auto;
  height: 40%;
  border-radius: 30px;
  margin: 0% 5% 0% 5%;
  border: solid 0px;
  text-align: center;
}
.noticias {
  width: auto;
  height: 40%;
  border-radius: 30px;
  margin: 2% 5% 0% 5%;
  background-color: rgba(138, 177, 189, 0.534);
  border: solid 0px;
  text-align: center;
}
.noticias-scroll{
padding: 0.5rem 0;
width: 100%;
}

li:hover {
  opacity: 0.5;
}

.containeratractivos {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

/* RUTAS */

.pr {
  cursor: pointer;
  display: block;
  max-width: 50rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.pimg img{
 width: 100%;
}

.pu img:hover{
  visibility: hidden;
}

.pimg {
  max-width: 100%;
  height: 30%;
  
}

.pimg-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
  color: #000;
  font-weight: bold;
  align-content: center;
}

.pimg:hover .pimg-content {
  transform: rotateY(180deg);
}

.pimg-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 0.6s;
  pointer-events: none;
}

.pimg-content1::after {
  background-color: hsla(34, 74%, 39%, 0.648);
  content: "SIGUIENDO LOS PASOS EBATENSES";
  
}
.pimg-content2::after {
  background-color: rgba(159, 18, 122, 0.456);
  content: "SABORES Y SABERES EBATENSES";
  
}
.pimg-content3::after {
  background-color: rgba(26, 124, 229, 0.64);
  content: "PROMESEROS Y ROMEROS UBATENSES";
  
}
.pimg-content4::after {
  background-color: rgba(206, 206, 41, 0.586);
  content: "NATURALEZA EN UBATÉ";

  
}
.pimg-content5::after {
  background-color: rgba(26, 208, 20, 0.444);
  content: "BICITURISMO EN UBATÉ";

}



.card-a h4 {
  font-size: .8rem;

}

.card-a h5 {
  font-size: 1.5rem;

}

.card-a h6 {
  font-size: 1rem;

}

.card-a {
  width: 150px;
  height: 200px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .25s ease;
  backface-visibility: hidden;
  flex-direction: column;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.289);
  background-clip: border-box;
  border: 0.125rem solid rgba(0, 0, 0, 0.125);
  word-wrap: break-word;
}


.card-a :hover {
  transform: scale(.8);
}

.card-a :hover::after {
  height: 20px;
}

.card-a:hover .con-text p {
  transform: translate(10);
  opacity: 1;
  margin: 10pt;
  word-wrap: break-word;
}

.card-a:hover img {
  transform: scale(9.25);
}

.card-a:hover .ul {
  transform: translate(0);
  opacity: 10;
}

.card-a::after {
  width: 100%;
  content: '';
  left: 0px;
  height: 150px;
  position: absolute;
  z-index: 20;
  transition: all .25s ease;
}

.card-a img {
  height: 100%;
  z-index: 10;
  transition: all .25s ease;
}

.card-a .con-text {
  z-index: 30;
  position: initial;
  bottom: 0px;
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: 10%;
  border: #000;
}

.card-a .con-text p {
  font-size: .7rem;
  opacity: 0;
  margin-bottom: -35px;
  transition: all .25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  color: #000;
}


.card-a-group h4 {
  font-size: .2rem;
  color: #000;

}

.card-a p button {
  padding: 7px 17px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 5px;
  margin-left: auto;
  cursor: pointer;
  transition: all .25s ease;
  font-family: poppins;
  font-size: .75rem;
  outline: none;
}

.card-a .con-text p button:hover {
  background: #aaafff;
  color: #fff;
}

.carousel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

@media (max-width: 300px) {

  .carousel {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

  }
}

@media (min-width: 300px) {

  .carousel {
    width: 96%;
    height: 150px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

  }
}

@media (min-width: 490px) {

  .carousel {
    width: 92%;
    height: 210px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

  }
}

@media (min-width: 576px) {

  .carousel {
    width: 92%;
    height: 350px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

  }
}

@media (min-width: 768px) {

  .carousel {
    width: 92%;
    height: 390px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

  }
}

@media (min-width: 992px) {

  .carousel {
    width: 92%;
    height: 410px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}

@media (min-width: 1200px) {

  .carousel {
    width: 98%;
    /* border-radius: 50px; */
    height: 570px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
   
    
  }
}


@media (min-width: 1400px) {
  .carousel {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

}

.carousel img {
  width: 100%; /* ajustar la imagen al ancho del contenedor */
  height: auto; /* altura automática para mantener la proporción */
}

#imagen {
  width: 100%;
  height: 400px;
}

.imagenes {
  width: 100%;

}

.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  animation: cambio 20s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  max-height: 400px;
  position: absolute;
  overflow: hidden;
  background-size: cover;

}

@keyframes cambio {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

.tamaño {
  overflow: hidden;

}

.calendario {
  width: 100%;
  height: 400px;
}

.noticiaespacio {
  background-color: #ffffff72;
}



.noticiaespacio {
  max-height: 400px;
  position: relative;
  overflow: scroll;
}

/* ---------------------------------------------- prueba */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ---------------------------------------------- prueba */

/* solucion del error del menu en responsive (index.hbs) */
.frente {
  /* position:absolute; */
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
}

.rutaOrden {
  display: flex;
  flex-wrap: nowrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(1 * var(--bs-gutter-x));
  margin-left: calc(1 * var(--bs-gutter-x));
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

/* fin de solucion del error del menu en responsive (index.hbs) */

.espacio-noticias{
  overflow: auto;
  -webkit-overflow-scrolling:unset;
  white-space: nowrap;

}
.botonglobal{
background-color: rgba(138, 177, 189, 0.534);
}

.marquilla{
  width: 60px;
  height: 60px;
}