@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;300&family=Raleway:ital,wght@1,900&family=Red+Hat+Display:ital,wght@1,500&display=swap'); */

body {
    font-family: 'Quicksand', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif, cursive;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: smaller;
   width: 100%;

}


.form{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px) saturate(138%);
  -webkit-backdrop-filter: blur(6px) saturate(138%);
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);

}


  
  @media (min-width: 1200px) {
  .form{
   
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 13%;
      backdrop-filter: blur(6px) saturate(138%);
      -webkit-backdrop-filter: blur(6px) saturate(138%);
      /* background-color: rgba(219, 89, 89, 0.879); */
      border-radius: 50px;
      /* border: 1px solid rgba(0, 0, 0, 0.3); */
      }
  }
     
  @media (min-width: 1400px) {
    .form{
     
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 11%;
        backdrop-filter: blur(6px) saturate(138%);
        -webkit-backdrop-filter: blur(6px) saturate(138%);
        /* background-color: rgba(219, 89, 89, 0.879); */
        border-radius: 50px;
        /* border: 1px solid rgba(0, 0, 0, 0.3); */
        }
    }
    @media (min-width: 992px) {
      .form{
       
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 3%;
          backdrop-filter: blur(6px) saturate(138%);
          -webkit-backdrop-filter: blur(6px) saturate(138%);
          /* background-color: rgba(219, 89, 89, 0.879); */
          border-radius: 50px;
          /* border: 1px solid rgba(0, 0, 0, 0.3); */
          }
      }
      @media (min-width: 760px) {
        .form{
         
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 12%;
            backdrop-filter: blur(6px) saturate(138%);
            -webkit-backdrop-filter: blur(6px) saturate(138%);
            /* background-color: rgba(219, 89, 89, 0.879); */
            border-radius: 50px;
            /* border: 1px solid rgba(0, 0, 0, 0.3); */
            }
        }
        @media (min-width: 540px) {
          .form{
           
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              margin-top: 2%;
              backdrop-filter: blur(6px) saturate(138%);
              -webkit-backdrop-filter: blur(6px) saturate(138%);
              /* background-color: rgba(219, 89, 89, 0.879); */
              border-radius: 50px;
              /* border: 1px solid rgba(0, 0, 0, 0.3); */
              }
          }
          @media (min-width: 300px) {
            .form{
             
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 10%;
                backdrop-filter: blur(6px) saturate(138%);
                -webkit-backdrop-filter: blur(6px) saturate(138%);
                /* background-color: rgba(219, 89, 89, 0.879); */
                border-radius: 50px;
                /* border: 1px solid rgba(0, 0, 0, 0.3); */
                }
            }
  .formulario{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px) saturate(138%);
    -webkit-backdrop-filter: blur(6px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

  * {
    box-sizing: border-box;
  }

  /* style the container */
  
  .contain {
    align-content: center;
    padding: 2%;
   max-width: 480px;
    backdrop-filter: blur(6px) saturate(138%);
    -webkit-backdrop-filter: blur(6px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    
  }
  

  /* style inputs and link buttons */
  input,
  .btn {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }

  input:hover,
  .btn:hover {
    opacity: 1;
  }

  /* style the submit button */
  input[type=submit] {
    background-color: #4ac064;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Two-column layout */
  .col {
    float: center;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;

  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* vertical line */
  .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
  }

  /* text inside the vertical line */
  .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
  }

  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }

  /* bottom container */
  .bottom-container {
    font-family: 'Quicksand', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif, cursive;
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
    position: center;
    border: 1px solid rgba(209, 213, 219, 0.3);
    width: 40%;
    margin-left: 30%;
    margin-right: 50%;
    float: center;
  }
  
  .cancelar{
    width:min-content;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    background-color: rgb(184, 84, 84);
    text-align: center;
  }

  .ingresar{
    width:min-content;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    background-color: rgb(84, 184, 117);
  }

  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }

  *, *:before, *:after {
    box-sizing: border-box;
}

.g-sign-in-button {
    margin: 10px;
    display: inline-block;
    width: 240px;
    height: 50px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.g-sign-in-button:active {
    background-color: #3367D6;
    transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}

.g-sign-in-button img {
    width: 18px;
    height: 18px;
}

.g-sign-in-button .logo-wrapper {
    padding: 15px;
    background: #fff;
    width: 48px;
    height: 100%;
    border-radius: 1px;
    display: inline-block;
}

.g-sign-in-button .text-container {
    font-family: Roboto,arial,sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
}

.rounded1{
 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  margin-bottom: 5%;
  order: 4;
  background: tomato;
  
    border-radius: 0.5rem !important;
    /* background:#ffffff32; */
  
}

.errores{
    display:flex;
    align-items: flex-end;
    color: rgb(199, 48, 48);
    font-size: 24px;
    font-weight: 500;
    justify-content: center;
}

.errores h5{
  
  color: rgb(199, 48, 48);
  font-size: 24px;
  font-weight: 500;
}

.inicio-boton{
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
}

.perfil-boton{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: rgb(3 91 123);
  }


  .atracmodal{
    cursor: pointer;
  }