:root {
	--cafe: #8d4a32;
	--azul: #0f6973;
	--rosado: #a71737;
	--negro: #010101;
	--blanco-opaco: #c6c6c6;
  }
  
 
  .bodylis {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.sectionlis{
	width: 100%;
}

.cards-containerlis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.cardlis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin: 1%;
	cursor: pointer;
    height: 10rem;
    /* padding-bottom: 20%; */
    /* padding: 1%; */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardlisimg {
	width: 100%;
	height: 70%;
	object-fit: cover;
	margin-bottom: 10px;
	background-color: black;
}

.cardlisp {
	/* font-size: 2vw; */
	height: 100%;
	width: 100%;
	border: 0.125rem solid rgba(0, 0, 0, 0.125);
	border-radius:15px 15px 20px 20px;
	overflow: hidden;
	/* margin: 10pt; */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/marca.png);
  
}

.imglista {
	width: 400px;
	height: 400px;
	background-color: #0f6973;
	background-size: cover;
	background-repeat: no-repeat;
}

.content-sectionlis {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color:rgba(140, 145, 148, 0.47);
	margin: 2%;

}

.image-containerlis {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.image-containerlis-lista {
    margin: 3%;
    width: 100%;
    justify-content: center;
    display: contents;
}

.image-containerlis img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.text-containerlis {
	flex: 1 1 auto;
}

.text-containerlis h2 {
	margin-top: 0;
}

.streetviewlis {
    width: 100%;
	min-height: 100px;
  }
  .street-containerlis {
    width: 100%;
    height: 0;
    padding-bottom: 30.25%; /* Relación de aspecto 16:9 para iframe de Google Maps */
    position: relative;
  }
  .imglis {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  


