

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.bodyError{
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../images/error3.png");
}
/************************header***********************************/
.header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

/*banner de imagenes*/
.header_imagenes {
    width: 100%;
    height: 240px;
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    gap: 0.5%;
    order: 2;
    position: relative;
}

.header_imagenes:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blanco);
    opacity: 0.6;
}

.header_imagenes-grid {
    width: 100%;
    height: 100%;
}

.header_imagenes-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #4B8325;
}

.header_imagenes-logo img {
    width: 100%;
    height: 80%;
}

/*menu de navegación*/
.header_navegacion {
    margin-bottom: 5%;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 7;
    position: fixed;
    background-color: var(--blanco);
}

.header_navegacion ul {
    list-style: none;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header_navegacion a {
    display: flex;
    align-items: flex-end;
}

/*estilos iconos de navegacion*/
.header_icon_uno {
    background-image: url("../icons/casa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.header_icon_uno:hover {
    background-image: url("../icons/casa2.png");
    border-bottom: 2px solid var(--cafe);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
    transition: 0.2s;
}

.header_icon_dos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    background-image: url("../icons/Cow-1.png");
    cursor: pointer;
}

.header_icon_dos:hover {
    border-bottom: 2px solid var(--cafe);
    background-image: url("../icons/Cow.png");
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
    transition: 0.2s;
}

.header_icon_tres {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    background-image: url("../icons/mail.png");
    cursor: pointer;
}

.header_icon_tres:hover {
    border-bottom: 2px solid var(--cafe);
    background-image: url("../icons/mail2.png");
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
    transition: 0.2s;
}

/*titulo del header*/
.header_titulo {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--gris_oscuro);
    font-family: var(--font1);
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 0 5%;
    order: 3;
}

/*botones para registro e inicio de sesion*/
.header_botones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    margin-bottom: 5%;
    order: 4;
}

.header_botones button {
    width: 40%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font2);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--blanco);
    background-color: #256783;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

.header_botones button:hover {
    background-color: var(--gris_claro);
    color: #256783;
}

/************************Inicio de Sesión***********************************/
.modal_container_IS {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--negro_claro);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

}
.modal_container_IS2 {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_IS {
    width: 90%;
    /* background-image: url(../img/basilica.jpg); */
    background-color: var(--blanco);
    background-repeat: no-repeat;
    height: 70%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    transform: translateY(0%);
    transition: transform 1s;
    justify-content: center;
    pointer-events: auto;
position: absolute;
}
.modal_IS2 {
    width: 90%;
    background-color: rgb(229, 229, 229);
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.modal_cerrado_IS {
    transform: translateY(-200%);
}

.cerrar_modal_IS {
    width: min-content;
    background-color: rgb(175, 104, 104);
    margin-top: 5pt;
    /* border-radius: 5px; */
    /* color: var(--blanco); */
    /* border-style: solid; */
    /* border-bottom-color: #000; */
    /* border-radius: 1px; */
    border: rgb(170, 73, 73);
    border-style: solid;
    color: var(--blanco);
    padding: 5px;
    /* margin-left: 2%; */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-left: 10pt;
}



.modal_formulario_IS {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
}

.modal_formulario_IS input[type=email],
.modal_formulario_IS input[type=password] {
   
        background-color: #ded9d999;
        margin-bottom: 10px;
        border-color: var(--gris);
        border-radius: 10px;
        padding: 5px;
        width: 70%;
        height: 30px;
    
}

/************************Registrarse***********************************/

.formRegistro{
    margin-left:25%;
		margin-right:25%;
		border: 1px solid #000000;
		margin-bottom: 5px;
		padding: 0px 15px 0 15px;
        align-content: center;

}




/************************Comunes***********************************/
.modal_Cuerpo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 100%;
    background-color: #ffffff59;
    color: var(--gris);
}
.modal_Cuerpo h1{
    font-size: var(--font2);
    color: red;
    font-size: 1.6rem;
    margin-bottom: 5%;
    font-weight: bold;
}
.modal_ContendorC {
    width: 100%;
    margin-top: 20pt;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff59;
}
.modal_logo {
    width: 140px;
    height: 95px;
    margin-left: 10%;
    margin-bottom: 2%;
}
.modal_formulario button {
    background-color:  #2781a8;
    border-radius: 1px;
    border: #0d81b3;
    border-style: solid;
    color: var(--blanco);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-left: 10pt;
}
l


::placeholder {
    margin-left: 5px;
    font-family: var(--font2);
    color:rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 1.2rem;
}
/************************Main***********************************/
.main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_parrafo{
    width: 80%;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.6rem;
        color: var(--gris_oscuro);
        font-family: var(--font1);
        margin-bottom: 10%;
        text-align: justify;

}
/************************Main baner uno***********************************/
.main_banerU{
    display: grid;
    width: 100%;
    height: 80px;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(1,100%);
    position: relative;
    gap: 0.5%;
    margin-bottom: 10%;
}
.main_banerU::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--blanco);
    opacity: 0.6;
}
.main_imagenes_grid {
    width: 100%;
    height: 100%;
}
/************************Main contenido***********************************/
.main_contenido{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top:5%;
}
.main_contenido_p{
    width: 75%;
    height:288px ;
    box-shadow: 0px 4px 4px 0  rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    position: relative;
}

/**municipios**/

/**publicaciones**/

/************************Main baner dos***********************************/

/************************Main contacto***********************************/


/************************Sections Publicaciones***********************************/
.modal_container_P{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_P {
    width:100%;
    background-color: transparent;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    transform: translateY(0%);
    transition: transform 1s;
}
.modal_P  h1{
    width: 60%;
    height: 10%;
    border-radius: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    font-family: var(--font2);
    font-weight: 700;
    font-size: 1.2rem;
    left: 20%;
    top: 10%;
}
.modal_cerrado_P {
    transform: translateY(-200%);
}
.cerrar_modal_P:hover {
    background-image: url(../icons/Cancel-1.png);
}
.modal_ContendorCP {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.select_publicacion{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color: var(--gris_claro);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    box-shadow: 0px 4px 4px 0  rgba(0, 0, 0, .2);
}
.cerrar_modal_P {
    background-image: url(../icons/Cancel.png);
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 2%;
}
.select_publicacion a{
    text-decoration: none;
    color: var(--verde);
    font-size: 1.2rem;
    font-family: var(--font2);
    font-weight: bold;
    cursor: pointer;
    height: 20px;
    display: flex;
    align-items: center;
}
.select_publicacion div{
    width: 60%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 9px;
}
.select_publicacion div:hover{
    border-bottom: 1px solid var(--cafe);
}
.select_publicacion div:focus{
    border-bottom: 1px solid var(--cafe);
}
.borrar_S{
    background-image: url(../icons/Trash.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.B:hover>span {
    background-image: url(../icons/Trash-1.png);
}
.editar_S{
    background-image: url(../icons/Vector-2.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.E:hover>span {
    background-image: url(../icons/Vector-3.png);
}
.crear_S{
    background-image: url(../icons/Clear\ Search.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.C:hover>span {
    background-image: url(../icons/Clear\ Search-1.png);
}
.publicar_S{
    background-image: url(../icons/Share\ 3.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.P:hover>span {
    background-image: url(../icons/Share\ 3-1.png);
}
.select_publicacion a:focus{
    color: var(--cafe);
}
.select_publicacion a:hover{
    color: var(--cafe);
}
.modal_P_publicacion{
    display: flex;
    width: 70%;
    background-color:rgb(255, 255, 255);
    height:100%;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: column;
}
.modal_P_contenido{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/****modules de la publicacion***/

.modal_editar{
    height: 0px;
    width: 100%;

    visibility: hidden;
}
.botonE{
    margin-top: 10px;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #4B8325;
    font-size: 1.2rem;
    font-family: var(--font2);
    font-weight: bold;
}
.botonE p{
    width: 50%;
    height: 40px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    background-color: var(--gris_claro);
}
.modal_publicar{
    height: 0px;
    width: 100%;
    visibility: hidden;
}
.modal_borrar{
    height: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--verde);
    visibility: hidden;
}
.modal_crear{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_crear img{
    width: 80%;
    height: 60%;

}
.modal_borrar p{
    border-radius: 5px;
    font-family: var(--font2);
    font-weight: bold;
    padding: 10px;
    background-color: var(--gris_claro);
}
/************************Animación***********************************/
.animate__animated{
    animation-iteration-count: infinite;
}
.check{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.check input{
    width: 15px;
    height: 15px;
}
.check a{
    color: #4B8325;
    font-size: 1.2rem;
    font-family: var(--font2);
    margin-left: 2%;
}

.mostrar_input{
     background-color: #ded9d999;
        margin-bottom: 10px;
        border-color: var(--gris);
        border-radius: 10px;
        padding: 5px;
        width: 70%;
        height: 30px;
}