

.texto {
  font-size: normal;
  font-weight: lighter;
}



.round {
  border-radius: 0.5rem !important;
  /* background: #ffffff3e; */
  color: white;
}

.fondo1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-cabecera1-rgb), var(--bs-bg-opacity)) !important;

}

.ruta1 {
  max-height: 100%;
  max-width: 100%;
  contain: content;
  object-fit: contain;
}

.ruta {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border-radius: 810px 10% / 30px 2em 90px 5em; */
  background-position: center;
}

.mapa {
  height: 430px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 10px  var(--sombra);

}

/* @media (min-width: 1400px) {
    .mapa{
        max-width:640px;
        max-height:480px;
        border-radius: 15px 50px 30px 5px;
    }
}
@media (min-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (min-width: 768px) {
}
@media (min-width: 456px) {
}
@media (min-width: 300px) {
} */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.wrapper>* {
  padding: 10px;
  flex: 1 100%;
}

.menu {
  width: 70%;
  height: auto;
  margin: 0;
  display: flex;
  font-size: 1em;
  position:flex;
  align-items: center;
}

@media (max-width: 642px) {
  .menu {
    width: 100%;
  }
}


.info p {
  /* background: rgb(111, 116, 58); */
  text-align: justify;
}

.footer {
  width: 100%;
}

.main {}

.aside-1 {}

.aside-2 {
  /* border-style: solid;
  border-radius: 8px;
  border-color: firebrick; */
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 2 0 0;
  }
}

@media all and (min-width: 800px) {
  

  .main {
    flex: 2 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    /* order: 3; */
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

  .footer {
    order: 4;
  }

}

/* body {
  padding: 1em;
  padding-top: 0em;
} */

.menu-fixed {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.navP {
  background-color: var(--azul);
  border-radius: 10px;
  overflow: hidden;

}



@media (max-width: 300px) {

  .navP {
    width: 100%;
    overflow: hidden;
    position: relative;

  }
}

@media (min-width: 300px) {

  .navP {
    width: 100%;
    overflow: hidden;
    position: relative;

  }
}

@media (min-width: 490px) {

  .navP {
    width: 100%;
    overflow: hidden;
    position: relative;

  }
}

@media (min-width: 576px) {

  .navP {
    width: 100%;
    overflow: hidden;
    position: relative;

  }
}

@media (min-width: 768px) {

  .navP {
    width: 100%;
    overflow: hidden;
    position: relative;

  }
}

@media (min-width: 992px) {

  .navP {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 1200px) {

  .navP {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 1400px) {
  .navP {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

}


.flecha {
  margin: auto;
  align-items: center;
}

.espacio {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.centrado {
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.botones-redes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.content-display{
 display: contents;
}

.iframemapa{
  width: 80%;
  box-shadow: 0px 5px 10px  var(--sombra);

}

.rutarow {
  overflow: scroll;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

footer {
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
  background-color: #2d3c4a;

}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #202d39;

}

.footer-column {
  flex-basis: 30%;
  margin-bottom: 20px;
  width: 80%;
  color: white;
  background-color: #12273a;
}

/* Media queries para la responsividad */

@media screen and (max-width: 768px) {
  .footer-column {
    flex-basis: 100%; /* Las columnas ocupan todo el ancho en pantallas pequeñas */
  }
}

.imgcard3-rutas {
  width: 100%;
  height: 90%;
  border: 0.125rem solid rgba(0, 0, 0, 0.125);
  border-radius: 15px 15px 20px 20px;
  overflow: hidden;
  box-shadow: 0px 15px 20px rgba(0,0,50,0.5);
  margin: 10pt;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/marca.png);
}

.oculto {
  display: none;
}

