<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="stylesheet" type="text/css" href="./css/footer.css">
    <link rel="stylesheet" type="text/css" href="./css/administrador.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/indexAtractivos.css">
    <link rel="stylesheet" href="./css/banner/bannerm.css">
    <link rel="stylesheet" href="./css/banner/bannert.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./css/banner/bannerw.css" media="screen and (min-width:1000px)">
    <link rel="stylesheet" type="text/css" href="./css/colores.css">


    <title>UBATÉ, ¡¡¡ DESTINO DE TRADICIONES !!!</title>
</head>


<!-- Header -->
<header x-data="{ open: false }" class="header opciones">
    <!-- Logo -->
    <div class="header">

        <a href="/atractivos">
            <h4>ADMINISTRADOR</h4>
        </a>
        <button class="header__button-nav--open hbb" x-on:click="open = true"><svg xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-letter-m" width="20" height="20" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 20v-16l6 14l6 -14v16"></path>
            </svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-e" width="20"
                height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M17 4h-10v16h10"></path>
                <path d="M7 12l8 0"></path>
            </svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-n" width="20"
                height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 20v-16l10 16v-16"></path>
            </svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-u" width="20"
                height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 4v11a5 5 0 0 0 5 5h2a5 5 0 0 0 5 -5v-11"></path>
            </svg></button>

    </div>
    <!-- Boton abrir -->

    <!-- Navegador -->

    <nav class="navPrin navegacion" x-bind:class="open ? 'nav--show' : ''">
        <!-- Boton cerrar -->

        <!-- Menu -->
        <ul class="nav__ul menuAdmin ">
            <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="./#page-top"><i
                        class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                    <img src="/img/marca.png" class="marquilla" alt=""><i class="zmdi zmdi-caret-down pull-right"></i>
                </a></li>
            <li>
                <a href="/crearAtractivos" class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-case zmdi-hc-fw"></i>
                    <h5> <b> Atractivos </b></h5><i class="zmdi zmdi-caret-down pull-right"></i>
                </a>
            </li>
            <li>
                <a target="_blank" onclick="mostrarmensaje()" class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-account-add zmdi-hc-fw"></i>
                    <h5> <b>Eventos</b></h5> <i class="zmdi zmdi-caret-down pull-right"></i>
                </a>
            </li>
            <script>
                function mostrarmensaje() {
                    if (confirm('¿DESEA SER REDIRECCIONADO A GOOGLE CALENDAR?')) {
                        window.open('https://calendar.google.com/calendar/u/0/r?pli=1');
                    }
                }
            </script>
            <li>
                <a href="/crearNoticias" class="btn-sideBar-SubMenu ">
                    <i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                    <h5>  <b>Noticias</b></h5> <i class="zmdi zmdi-caret-down pull-right"></i>
                </a>
            </li>
            <li>
                <a href="/editarruta" class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-view-dashboard zmdi-hc-fw" id="principal"></i>
                    <h5 > <b>Rutas Turísticas</b></h5>
                </a>
            </li>
            <li>
                <a href="/registro" class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-view-dashboard zmdi-hc-fw" id="principal"></i>
                    <h5> <b>Registrar usuario nuevo</b></h5>
                </a>
            </li>
            <li><a href="/logout" class="zmdi " id="logout">
                    <h5> <b> Cerrar Sesión</b></h5>
                </a></li>
        </ul>
        <div class="nav__button" x-on:click="open = false">
            <button class="header__button-nav--close">Cerrar</button>
        </div>
    </nav>
    <!-- Fin Navegador -->


    {{!-- <div class="erroresinternos">
        <p align="">
        <h5>{{mensajeError}}</h5>
        </p>
    </div> --}}
    <div style="display: flex; flex-direction: row; width: 100%; height: auto; justify-content:center;">
        <div style="display: flex; flex-direction: row; width: 50%; height: 100%;"></div>
        <div style="display: flex; flex-direction: row; width: 50%; height: 100%; justify-content: space-evenly;">



        </div>
    </div>

    {{{body}}}




    <footer id="contactanos">

        <div class="footer-content">

            <img class="footerImg" src="img/bmu.png" alt="">
            <div class="footer-column">
                <h4 class="text-uppercase ">TURISMO</h4>
                <article>
                    <ul>
                        <li><a href="#rutas" class="footer-route" >RUTAS TURÍSTICAS</a></li>
                        <li><a href="/#atractivos" class="footer-route">Atractivos</a></li>
                        <li><a href="/#noticias" class="footer-route">Noticias</a></li>
                        <li><a href="/tipos" class="footer-route">Tipos De Turismo</a></li>
                        <li><a href="/#eventos" class="footer-route">Eventos</a></li>
                    </ul>
                </article>

            </div>
            <div class="footer-column">
                <ul>
                    <li> <a href="https://www.pitscolombia.com.co/es/pits/ubate-pit-parque-principal"
                            target="_blank">Punto
                            De Información Turística </a></li>
                    <li><a href="http://www.ubate-cundinamarca.gov.co/">Página De La Alcaldía Municipal </a></li>
                    <li><a href="/contacto" target="_blank">CONTÁCTANOS</a></li>
                </ul>
            </div>

            <div class="footer-row">
                <p class="lead me-auto">
                </p>
                <h4> VILLA DE SAN DIEGO DE UBATÉ </h4>
                <p></p>
            </div>
            <div class="footer-column">
                <div class="botones-redes">
                    <ul class="display-flex">
                        <li class="d-f-social">
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                                <svg class="svg-inline--fa fa-instagram fa-2xl" style="color: #4f4f4f;"
                                    aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                    data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                                    </path>
                                </svg>
                                <!-- <i class="fa-brands fa-instagram fa-2xl" style="color: #4f4f4f;"></i> Font Awesome fontawesome.com -->
                            </a>
                        </li>

                        <li class="d-f-social">
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                                <svg class="svg-inline--fa fa-facebook fa-2xl" style="color: #696969;"
                                    aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                    data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.8 90.69 226.4 209.3 245V327.7h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.3 482.4 504 379.8 504 256z">
                                    </path>
                                </svg>
                                <!-- <i class="fa-brands fa-facebook fa-2xl" style="color: #696969;"></i> Font Awesome fontawesome.com -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </footer>

    <script>
        function link() {
            window.location = "/atractivos"
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script>
        cerrarSesion.addEventListener("click", function () {
            modalSesion2.classList.toggle("modal_cerrado_p");
            setTimeout(function () {
                modalSesion.style.opacity = "0";
                modalSesion.style.visibility = "hidden";
                id.value = "";
            }, 500)
        })
    </script>



    </body>

</html>