<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content=" EQUIPO DE DESARROLLO UBATE TURISMO" />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1245d29a02.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="./css/movile.css">
    <link rel="stylesheet" href="./css/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./css/web.css" media="screen and (min-width:1000px)">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/iniciar.css">
    <link rel="stylesheet" type="text/css" href="./css/administrador.css">
    <link rel="stylesheet" type="text/css" href="./css/rutas.css">
    <link rel="stylesheet" type="text/css" href="./css/navRutas.css">
    <link rel="stylesheet" type="text/css" href="./css/tipos.css">
    <link rel="stylesheet" type="text/css" href="./css/indexAtractivos.css">
    <link rel="stylesheet" type="text/css" href="./css/banner/movile.css">



    
</head>


<div class="errores">
    <p align="">
    <h5>{{mensajeError}}</h5>
    </p>
</div>
<header x-data="{ open: false }" class="header " id="page-top">
    <!-- Logo -->
    <div class="header">
        <button class="header__button-nav--open hbb" x-on:click="open = true"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-m" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M6 20v-16l6 14l6 -14v16"></path>
</svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-e" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M17 4h-10v16h10"></path>
   <path d="M7 12l8 0"></path>
</svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-n" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M7 20v-16l10 16v-16"></path>
</svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-u" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M6 4v11a5 5 0 0 0 5 5h2a5 5 0 0 0 5 -5v-11"></path>
</svg></button>

    </div>
         <nav class="navPrin text-uppercase frente " x-bind:class="open ? 'nav--show' : ''">
      

        <ul class="nav__ul menuAdmin ">
             <li class="inicio-boton"><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="./#page-top"><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                        <img src="/img/marca.png" class="marquilla" alt=""><i class="zmdi zmdi-caret-down pull-right"></i>
                    </a></li>
            
            <li class="inicio-boton"><li class="inicio-boton"><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="./#page-top"><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                        <h6 class="t-white">INICIO</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                    </a></li></li><li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="#rutas"><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                    <h6 class="t-white">RUTAS</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                </a></li>
            <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="/lista"><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                    <h6 class="t-white">ATRACTIVOS</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                </a></li>
            <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="./#noticias"><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                    <h6 class="t-white">NOTICIAS</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                </a></li>
            <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="./tipos"><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                    <h6 class="t-white">TIPOS DE TURISMO</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                </a></li>
            <li><a class="btn-sideBar-SubMenu " x-on:click="open = false" href="./#contactanos"><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i>
                    <h6 class="t-white">CONTACTANOS!!!</h6><i class="zmdi zmdi-caret-down pull-right"></i>
                </a></li>
            <li class=" perfil-boton  modal_IS_abrir  " x-on:click="open = false"><a class="  px-lg-4 "><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i><svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" color="white" fill="currentColor" class="" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                    </svg><i class="zmdi zmdi-caret-down pull-right"></i></a></li>
        </ul>
        <div class="nav__button" x-on:click="open = false">
            <button class="header__button-nav--close">Cerrar</button>
        </div>
    </nav>


    <!-- Logo -->

    <!-- Boton abrir -->

    <!-- Navegador -->
    <!--header-->
    <div id="carouselExampleCaptions" class="ocultar carousel" data-bs-ride="true">
        <div class="carousel-inner ruta " id="imgBanner">
            

        </div>
    </div>




    {{!-- NAVBAR --}}

    {{!-- FIN DEL NAVBAR --}}
<br>
   <b><h1> <div id="titulo-ruta" class="info page-section-heading titulo-rutas text-uppercase">Nombre de la Pagina Actual</div></h1></b>
<br>
    <div class="linea" ></div>

    {{!-- CONTENIDO DE LA PAGINA --}}


    <nav class=" navbar-expand-lg bg-transparent text-uppercase  opciones navrutas" id="mainNav">
        <div class="menu">
            <ul class="navbar-nav ms-auto rouned espacio navP" style=" background-color: var(--cafe);">

                <li class=" espacio flecha"><a href="#page-top"> <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-circle-arrow-up-filled" width="34" height="34"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-4.98 3.66l-.163 .01l-.086 .016l-.142 .045l-.113 .054l-.07 .043l-.095 .071l-.058 .054l-4 4l-.083 .094a1 1 0 0 0 1.497 1.32l2.293 -2.293v5.586l.007 .117a1 1 0 0 0 1.993 -.117v-5.585l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-4 -4l-.082 -.073l-.089 -.064l-.113 -.062l-.081 -.034l-.113 -.034l-.112 -.02l-.098 -.006z"
                                stroke-width="0" fill="currentColor"></path>
                        </svg> </a></li>
                <li class=" espacio"><a class="nav-link py-3 px-0 px-lg-3 round" href="#info">
                        <p>INFORMACIÓN</p>
                    </a></li>
                <li class=" espacio"><a class="nav-link py-3 px-0 px-lg-3 round" href="#map">
                        <p>MAPA</p>
                    </a></li>
                
                <li class=" espacio"><a class="nav-link py-3 px-0 px-lg-3 round" href="#eventos">
                        <p>EVENTOS</p>
                    </a></li>
            </ul>
        </div>
    </nav>


    {{{body}}}
<br>
    <div class="linea" ></div>
<br><br>
    <section class="modal_container_IS ">
        <section class="modal_IS modal_cerrado_IS align-content-center">
            <div class="modal_ContendorC"><span class="cerrar_modal_IS">CANCELAR</span></div>
            <div class="modal_Cuerpo">
                <form class="modal_formulario_IS modal_formulario" id="login-form" action="/login-email" method="POST">
                    <h5>CORREO</h5>
                    <input type="email" name="email" id="email" placeholder="Correo Electronico" required>
                    <input type="email" name="emailb" id="emailb" placeholder="Correo Electronico" style="display:none">
                    <h5>CONTRASEÑA</h5>
                    <input type="password" name="password" id="password" placeholder="Contraseña" minlength="7"
                        required>
                         <button id="showPassword" type="button" style="background-color: rgb(255, 170, 0); border: #ff9900;">Mostrar</button>
                    <button type="submit" class="ingresar ">Ingresar</button>

                                  <script>
                const passwordInput = document.getElementById("password");
  const showPasswordButton = document.getElementById("showPassword");

  showPasswordButton.addEventListener("click", () => {
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      showPasswordButton.textContent = "Ocultar";
    } else {
      passwordInput.type = "password";
      showPasswordButton.textContent = "Mostrar";
    }
  });
</script>
                </form>

            </div>
        </section>
    </section>

    <div class="col-md-6" id="modal"> <a href="" id="nombre"></a></div>
    
    <section class="page-section portfolio content-display" id="eventos">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">EVENTOS</h2>

        <iframe class="iframemapa"
            src="https://calendar.google.com/calendar/embed?height=300&wkst=1&bgcolor=%23ffffff&ctz=America%2FBogota&showTitle=0&showNav=1&showDate=1&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=MONTH&src=d2VidHVyaXNtb3ViYXRlQGdtYWlsLmNvbQ&color=%23039BE5"
            style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
    </section>
<br>
    <div class="linea" ></div>
<br><br>

    <section class="page-section portfolio rutas" id="rutas">
        <div class="container grid">

            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">RUTAS</h2>

            <br>

            <div class="rutaOrden  ">

                <div class="col-sm-2 col-md-2 col-lg-2  col-2 px-0"> <a href="/ruta1">
                        <div class="pu pr mx-0" data-bs-toggle="modal" data-bs-target="#ruta1">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class=" fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/PU.png" alt="..." />
                        </div>
                    </a>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2  col-2 px-0"><a href="/ruta2">
                        <div class="pb pr mx-0" data-bs-toggle="modal" data-bs-target="#ruta2">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class=" fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/PB.png" alt="..." />
                        </div>
                    </a>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2  col-2 px-0 "><a href="/ruta3">
                        <div class="pa pr mx-0" data-bs-toggle="modal" data-bs-target="#ruta3">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class=" fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/PA.png" alt="..." />
                        </div>
                    </a>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2  col-2 px-0"><a href="/ruta4">
                        <div class="pt pr mx-0" data-bs-toggle="modal" data-bs-target="#ruta4">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class=" fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/PT.png" alt="..." />
                        </div>
                    </a>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2  col-2 px-0">
                    <a href="/ruta5">
                        <div class="pe pr mx-0" data-bs-toggle="modal" data-bs-target="#ruta5">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class=" fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="..//img/PE.png" alt="..." />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {{!-- FIN DE RUTAS --}}
<br>
    <div class="linea" ></div>
    {{!-- Inicio de sesion --}}

    <section class="modal_container_IS ">
        <section class="modal_IS modal_cerrado_IS align-content-center">
            <div class="modal_ContendorC"><span class="cerrar_modal_IS">CANCELAR</span></div>
            <div class="modal_Cuerpo">
                <form class="modal_formulario_IS modal_formulario" id="login-form" action="/login-email" method="POST">
                    <h5>CORREO</h5>
                    <input type="email" name="email" id="email" placeholder="Correo Electronico" required>
                    <input type="email" name="emailb" id="emailb" placeholder="Correo Electronico" style="display:none">
                    <h5>CONTRASEÑA</h5>
                    <input type="password" name="password" id="password" placeholder="Contraseña" minlength="7"
                        required>
                    <button type="submit" class="ingresar ">Ingresar</button>
                </form>

            </div>
        </section>
    </section>

    <footer class="footer text-center">
        <div class="container centrado">
            <div class="rowruta" id="contacto">

                <div class="">
                    <h4 class="text-uppercase ">UBICACIÓN</h4>
                    <p class="lead me-auto">
                    <h6> VILLA DE SAN DIEGO DE UBATÉ
                        <br />
                        ESTUDIANTES 9° SEMESTRE <br> UNIVERSIDAD DE CUNDINAMARCA
                        </p>
                    </h6>
                </div>

                <div class="">
                    <h4 class="text-uppercase ">REDES TURISMO UBATÉ</h4>
                    <div class="botones-redes">
                        <a class="btn btn-outline-light btn-social " href="#!"><i
                                class="fab fa-fw fa-facebook-f"></i></a>
                        {{!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                                class="fab fa-fw fa-twitter"></i></a> --}}
                        <a class="btn btn-outline-light btn-social " href="#!"><i
                                class="fab fa-fw fa-instagram"></i></a>
                        {{!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                                class="fab fa-fw fa-whatsapp"></i></a> --}}
                    </div>
                </div>

                <div class="">
                    <h4 class="text-uppercase mb-2">IIPA 2022</h4>

                </div>
            </div>
        </div>
    </footer>

    <style>
		.ruta11 {
			background-image: url(/img/siguiendolospasosebatensesbanner.jpg);
             background-repeat: no-repeat;
            background-size: cover;
		}
        .ruta2 {
			background-image: url(/img/saboresysaberesbanner.jpg);
            background-repeat: no-repeat;
            background-size: cover;
		}
        .ruta3 {
			background-image: url(/img/promeserosyromerosbanner.jpg);
             background-repeat: no-repeat;
            background-size: cover;
		}
        .ruta4 {
			background-image: url(/img/naturalezaenubatebanner.jpg);
             background-repeat: no-repeat;
            background-size: cover;
		}
        .ruta5 {
			background-image: url(/img/biciturismoenubatebanner.jpg);
             background-repeat: no-repeat;
            background-size: cover;
		}
         .rutatipos {
			background-image: url(/img/rutatiposbanner.jpg);
             background-repeat: no-repeat;
            background-size: cover;
		}
        .rutaextra {
			background-image: url(/img/rutaextrabanner.jpg);
             background-repeat: no-repeat;
            background-size: cover;
		}
        
	</style>
    <script>
		// Obtener la ruta actual
		var ruta = location.pathname;
        var imgb = document.getElementById("imgBanner");
        var miDiv = document.getElementById('titulo-ruta');

		// Quitar la barra diagonal inicial
		ruta = ruta.substring(1);

		// Cambiar el fondo de la página según la ruta
		if (ruta === "") {
			imgb.classList.add("");
		} else if (ruta === "ruta1") {
			imgb.classList.add("ruta11");
            miDiv.innerHTML = 'SIGUIENDO LOS PASOS EBATENSES';
            
		} else if (ruta === "ruta2") {
			imgb.classList.add("ruta2");
            miDiv.innerHTML = 'SABORES Y SABERES EBATENSES';

		} else if (ruta === "ruta3") {
			imgb.classList.add("ruta3");
            miDiv.innerHTML = 'PROMESEROS Y ROMEROS UBATENSES';
		}else if (ruta === "ruta4") {
			imgb.classList.add("ruta4");
            miDiv.innerHTML = 'NATURALEZA EN UBATÉ';
		}else if (ruta === "ruta5") {
			imgb.classList.add("ruta5");
            miDiv.innerHTML = 'BICITURISMO EN UBATÉ';
		}else if (ruta === "tipos") {
			imgb.classList.add("rutatipos");
            miDiv.innerHTML = 'TIPOS DE TURISMO';
		} else {
            imgb.classList.add("rutaextra");
            miDiv.innerHTML = 'UBATE POR DESCUBRIR';
        }
	</script>


    <script>
        function link() {
            window.location = "/atractivos"
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="/js/administrador.js"></script>
    <script src="/js/inicio_sesion_rutas.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/principal.js" type="module"></script>
    <script src="./js/firebaseAuth.js"></script>
    <script src="/js/main.js" type="module"></script>
    <script>
        cerrarSesion.addEventListener("click", function () {
            modalSesion2.classList.toggle("modal_cerrado_p");
            setTimeout(function () {
                modalSesion.style.opacity = "0";
                modalSesion.style.visibility = "hidden";
                id.value = "";
            }, 500)
        })
    </script>

    </body>

</html>